/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(reset.css);
/* line 5, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*
@include POS(475px,75px);
@include css3(transition,all 1s ease);
@include css3(box-shadow,0px 0px 14px #ffffff);
@include css3(border-radius,20px);
border: 2px solid #6d4b00;
left: calc(50% - 82.5px);


.tablestyle{
    table{
        margin: 0 auto;
        border-collapse: separate;
        border-spacing: 2px!important;
        font-size: 16px;
        line-height:1.5;
    }
    table tr td{
        text-align: center;
        padding: 5px;
    }
    table tr:nth-child(odd) {
          background-color: rgba(76, 46, 0, 0.17);
        }
        span{
            @include midtext();
            font-size: 23px;
        }
}
*/
/*
@include css3(transition,all 1s ease);
@include css3(animation,opacitylight 2s infinite linear);
@include keyframes(opacitylight) {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
*/
/*
@media screen and (min-width: 0px) and (max-width:640px) {}
@media screen and (min-width: 641px) and (max-width:1200px) {}
@media screen and (min-width: 1201px) and (max-width:2000px) {}
*/
/*zindex*/
/*midtext*/
/*stext*/
/*btn*/
/*specify*/
/*keyframes*/
/*Responsive*/
/*radius*/
/*boxshadow*/
/*POS*/
/*SIZE*/
/*clearfix*/
/*changebg*/
/*animated-picandtxt*/
/* line 231, ../sass/screen.scss */
a {
  text-decoration: none;
}

/* line 234, ../sass/screen.scss */
li {
  list-style: none;
}

/* line 238, ../sass/screen.scss */
body {
  width: 100%;
  background: #fff;
  min-width: 1000px;
  min-height: 800px;
  font: normal 14px/18px "Microsoft JhengHei";
  color: #000;
}

/* line 247, ../sass/screen.scss */
.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  min-width: 1000px;
}
/* line 254, ../sass/screen.scss */
.wrapper > .cloud, .wrapper .content {
  min-width: 1000px;
}

/* line 258, ../sass/screen.scss */
.backrepeat {
  background: url(../images/bg.jpg) repeat-x top center;
  -webkit-animation: Animation_bg 200s infinite linear;
  -moz-animation: Animation_bg 200s infinite linear;
  -ms-animation: Animation_bg 200s infinite linear;
  -o-animation: Animation_bg 200s infinite linear;
  animation: Animation_bg 200s infinite linear;
}

/* line 264, ../sass/screen.scss */
.backrepeat-fast {
  -webkit-animation: Animation_bg 0.6s infinite cubic-bezier(0.47, -0.56, 0.6, 1.34);
  -moz-animation: Animation_bg 0.6s infinite cubic-bezier(0.47, -0.56, 0.6, 1.34);
  -ms-animation: Animation_bg 0.6s infinite cubic-bezier(0.47, -0.56, 0.6, 1.34);
  -o-animation: Animation_bg 0.6s infinite cubic-bezier(0.47, -0.56, 0.6, 1.34);
  animation: Animation_bg 0.6s infinite cubic-bezier(0.47, -0.56, 0.6, 1.34);
}

@-webkit-keyframes Animation_bg {
  0% {
    background-position: -1000px;
  }
  100% {
    background-position: -5000px;
  }
}
@-moz-keyframes Animation_bg {
  0% {
    background-position: -1000px;
  }
  100% {
    background-position: -5000px;
  }
}
@-o-keyframes Animation_bg {
  0% {
    background-position: -1000px;
  }
  100% {
    background-position: -5000px;
  }
}
@keyframes Animation_bg {
  0% {
    background-position: -1000px;
  }
  100% {
    background-position: -5000px;
  }
}
/* line 271, ../sass/screen.scss */
.wrapper-in {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

/*cloud*/
/* line 278, ../sass/screen.scss */
.cloud {
  position: absolute;
  text-align: center;
  background: url(../images/cloud.png) repeat-x center;
  width: 100%;
  height: 450px;
  margin: 0 auto;
  bottom: 0;
  z-index: 5;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-animation: cssAnimation_c 20s infinite linear;
  -moz-animation: cssAnimation_c 20s infinite linear;
  -ms-animation: cssAnimation_c 20s infinite linear;
  -o-animation: cssAnimation_c 20s infinite linear;
  animation: cssAnimation_c 20s infinite linear;
}

/* line 290, ../sass/screen.scss */
.cloud-fast {
  -webkit-animation: cssAnimation_c 1s infinite cubic-bezier(0.47, -0.56, 0.6, 1.34);
  -moz-animation: cssAnimation_c 1s infinite cubic-bezier(0.47, -0.56, 0.6, 1.34);
  -ms-animation: cssAnimation_c 1s infinite cubic-bezier(0.47, -0.56, 0.6, 1.34);
  -o-animation: cssAnimation_c 1s infinite cubic-bezier(0.47, -0.56, 0.6, 1.34);
  animation: cssAnimation_c 1s infinite cubic-bezier(0.47, -0.56, 0.6, 1.34);
}

@-webkit-keyframes cssAnimation_c {
  0% {
    background-position: 0%;
    opacity: .3;
  }
  50% {
    background-position: 500px;
    opacity: .8;
  }
  100% {
    background-position: 1000px;
    opacity: .3;
  }
}
@-moz-keyframes cssAnimation_c {
  0% {
    background-position: 0%;
    opacity: .3;
  }
  50% {
    background-position: 500px;
    opacity: .8;
  }
  100% {
    background-position: 1000px;
    opacity: .3;
  }
}
@-o-keyframes cssAnimation_c {
  0% {
    background-position: 0%;
    opacity: .3;
  }
  50% {
    background-position: 500px;
    opacity: .8;
  }
  100% {
    background-position: 1000px;
    opacity: .3;
  }
}
@keyframes cssAnimation_c {
  0% {
    background-position: 0%;
    opacity: .3;
  }
  50% {
    background-position: 500px;
    opacity: .8;
  }
  100% {
    background-position: 1000px;
    opacity: .3;
  }
}
/* line 299, ../sass/screen.scss */
nav {
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 85px;
  border-top: 5px solid #00285e;
  border-bottom: 1px solid #1f2f45;
  z-index: 10;
  position: relative;
}
/* line 308, ../sass/screen.scss */
nav .wrapper-in .logo {
  float: left;
}
/* line 310, ../sass/screen.scss */
nav .wrapper-in .logo img {
  padding-top: 3px;
  vertical-align: middle;
}
/* line 315, ../sass/screen.scss */
nav .wrapper-in ul {
  float: left;
  margin-left: 10px;
}
/* line 319, ../sass/screen.scss */
nav .wrapper-in ul .active div {
  color: #fff;
  background: #1f2f45 !important;
}
/* line 322, ../sass/screen.scss */
nav .wrapper-in ul .active div:after {
  width: 10px;
  height: 10px;
  background: #fff;
  border: 5px solid #1f2f45;
  left: calc( 50% - 10px);
  bottom: -10px;
}
/* line 333, ../sass/screen.scss */
nav .wrapper-in ul .sp div {
  color: #fff;
  background: #ad0000 !important;
}
/* line 339, ../sass/screen.scss */
nav .wrapper-in ul a div {
  float: left;
  font-size: 16px;
  line-height: 85px;
  padding: 0 20px;
  color: #000;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 347, ../sass/screen.scss */
nav .wrapper-in ul a div:hover {
  background: white;
}
/* line 349, ../sass/screen.scss */
nav .wrapper-in ul a div:hover:after {
  width: 10px;
  height: 10px;
  background: #fff;
  border: 5px solid #1f2f45;
  left: calc( 50% - 10px);
  bottom: -10px;
}
/* line 358, ../sass/screen.scss */
nav .wrapper-in ul a div:after {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  background: #1f2f45;
  left: calc( 50% - 8px);
  bottom: -8px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border: 0px solid #1f2f45;
}

/* line 375, ../sass/screen.scss */
.rigthbtn {
  position: absolute;
  right: 0;
  top: 120px;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  background: #fff;
  padding: 10px 20px;
  min-width: initial;
  z-index: 10;
}
/* line 384, ../sass/screen.scss */
.rigthbtn a {
  color: #000;
}
/* line 386, ../sass/screen.scss */
.rigthbtn a:hover {
  text-decoration: underline;
}

/* line 391, ../sass/screen.scss */
.slogan {
  z-index: 9;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 218px;
  opacity: 1;
  -webkit-transition: all 0.8s ease 1s;
  -moz-transition: all 0.8s ease 1s;
  -ms-transition: all 0.8s ease 1s;
  -o-transition: all 0.8s ease 1s;
  transition: all 0.8s ease 1s;
}

/* line 400, ../sass/screen.scss */
.slogan-out {
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* line 404, ../sass/screen.scss */
.txtbg {
  height: 2000px;
  background: #ad0000;
  position: absolute;
  top: -605px;
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  transform: rotate(20deg);
  -webkit-transition: all 0.3s ease 0.7s;
  -moz-transition: all 0.3s ease 0.7s;
  -ms-transition: all 0.3s ease 0.7s;
  -o-transition: all 0.3s ease 0.7s;
  transition: all 0.3s ease 0.7s;
}

/* line 412, ../sass/screen.scss */
.sloganbg {
  width: 380px;
  left: calc(50% - 190px);
}

/* line 416, ../sass/screen.scss */
.txtbg-out {
  left: 50%;
  width: 0;
}

/* line 420, ../sass/screen.scss */
.sloganbg-inpage {
  width: 300px;
  left: calc(50% - 550px);
  background: #1f2f45;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  transform: rotate(10deg);
}

/* line 427, ../sass/screen.scss */
.peo {
  position: absolute;
  z-index: 4;
  bottom: -150px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 1;
}

/* line 434, ../sass/screen.scss */
.peo-out.peo1, .peo-out.peo3, .peo-out.peo5 {
  left: -200% !important;
  opacity: 0;
}

/* line 438, ../sass/screen.scss */
.peo-out.peo2, .peo-out.peo4, .peo-out.peo6 {
  left: 100% !important;
  opacity: 0;
}

/* line 442, ../sass/screen.scss */
.peo1 {
  left: calc(50% - 1250px);
  transition-delay: .2s;
}

/* line 446, ../sass/screen.scss */
.peo1.peo-inpage {
  left: calc(50% - 1450px);
}

/* line 449, ../sass/screen.scss */
.peo2 {
  left: calc(50% - 1000px);
}

/* line 452, ../sass/screen.scss */
.peo2.peo-inpage {
  left: calc(50% - 800px);
}

/* line 455, ../sass/screen.scss */
.peo3 {
  left: calc(50% - 1000px);
}

/* line 458, ../sass/screen.scss */
.peo3.peo-inpage {
  left: calc(50% - 800px);
}

/* line 461, ../sass/screen.scss */
.peo4 {
  left: calc(50% - 1700px);
  transition-delay: .2s;
  bottom: -200px;
}

/* line 466, ../sass/screen.scss */
.peo4.peo-inpage {
  left: calc(50% - 1900px);
}

/* line 469, ../sass/screen.scss */
.peo5 {
  left: calc(50% - 1350px);
  bottom: -100px;
}

/* line 473, ../sass/screen.scss */
.peo5.peo-inpage {
  left: calc(50% - 1550px);
}

/* line 476, ../sass/screen.scss */
.peo6 {
  left: calc(50% - 100px);
  bottom: -280px;
}

/* line 480, ../sass/screen.scss */
.peo6.peo-inpage {
  left: calc(50% + 100px);
}

/* line 483, ../sass/screen.scss */
.content {
  position: relative;
  z-index: 9;
  height: calc(100% - 151px);
}
/* line 487, ../sass/screen.scss */
.content .page {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 100%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* line 494, ../sass/screen.scss */
.content .page .pageout {
  overflow: auto;
  height: 100%;
}
/* line 498, ../sass/screen.scss */
.content .page .contentbg {
  width: 800px;
  background: rgba(255, 255, 255, 0.9);
  left: calc(50% - 400px);
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  transform: rotate(10deg);
}
/* line 504, ../sass/screen.scss */
.content .page .wrapper-in {
  z-index: 10;
  padding-top: 50px;
  padding-bottom: 50px;
  height: initial;
  color: #1f2f45;
}
/* line 510, ../sass/screen.scss */
.content .page .wrapper-in header {
  font-size: 30px;
  line-height: 35px;
  color: #426799;
  border-bottom: 2px solid #426799;
  position: relative;
  font-weight: bolder;
  padding-left: 30px;
  padding-bottom: 5px;
  margin-left: 145px;
  margin-right: 150px;
  margin-bottom: 20px;
}
/* line 522, ../sass/screen.scss */
.content .page .wrapper-in header:after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: -15px;
  border: 5px solid #1f2f45;
  width: 20px;
  height: 20px;
  background: #426799;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
/* line 534, ../sass/screen.scss */
.content .page .wrapper-in main {
  margin-left: 160px;
  margin-right: 295px;
}
/* line 538, ../sass/screen.scss */
.content .page .wrapper-in section {
  margin: 30px 150px;
  line-height: 25px;
}
/* line 541, ../sass/screen.scss */
.content .page .wrapper-in section .tietle {
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 5px;
  border-left: 5px solid #426799;
  color: #426799;
  padding-left: 5px;
}
/* line 549, ../sass/screen.scss */
.content .page .wrapper-in section .tietle-s {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 16px;
  color: #ad0000;
}
/* line 555, ../sass/screen.scss */
.content .page .wrapper-in section .btn {
  width: 200px;
  background: #094083;
  border-left: 20px #1f2f45 solid;
  border-right: 20px #1f2f45 solid;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font: normal 25px/40px "Microsoft JhengHei";
  letter-spacing: 5px;
  margin: 10px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* line 567, ../sass/screen.scss */
.content .page .wrapper-in section .btn strong {
  color: #ffe400;
  font-weight: normal;
  font-size: 18px;
}
/* line 572, ../sass/screen.scss */
.content .page .wrapper-in section .btn:hover {
  border-left: 40px #1f2f45 solid;
  border-right: 0 #1f2f45 solid;
  background: #0060d7;
}
/* line 578, ../sass/screen.scss */
.content .page .wrapper-in section .alerttxt {
  color: #ff0000;
}
/* line 581, ../sass/screen.scss */
.content .page .wrapper-in section table {
  width: 100%;
  margin: 5px auto;
  border-collapse: separate;
  border-spacing: 1px !important;
  font-size: 14px;
  line-height: 20px;
  background: #fff;
  color: #fff;
}
/* line 590, ../sass/screen.scss */
.content .page .wrapper-in section table .table-tietle {
  background: #1f2f45;
  color: #ffc800;
}
/* line 594, ../sass/screen.scss */
.content .page .wrapper-in section table .tablecolor1 {
  color: #ffc800;
}
/* line 597, ../sass/screen.scss */
.content .page .wrapper-in section table .tablecolor2 {
  color: #00ffb8;
}
/* line 601, ../sass/screen.scss */
.content .page .wrapper-in section table tbody {
  background: #565656;
}
/* line 604, ../sass/screen.scss */
.content .page .wrapper-in section table tr td {
  text-align: center;
  padding: 5px;
}
/* line 608, ../sass/screen.scss */
.content .page .wrapper-in section table tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.3);
}
/* line 611, ../sass/screen.scss */
.content .page .wrapper-in section .line {
  margin: 10px 0;
  border: dashed 1px #426799;
}
/* line 618, ../sass/screen.scss */
.content .page-in {
  left: 0;
}

/* line 622, ../sass/screen.scss */
.cr {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 10;
  border-bottom: 5px solid #00285e;
}
