/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(reset.css);
/* line 5, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*
@include POS(475px,75px);
@include css3(transition,all 1s ease);
@include css3(box-shadow,0px 0px 14px #ffffff);
@include css3(border-radius,20px);
border: 2px solid #6d4b00;
left: calc(50% - 82.5px);


.tablestyle{
    table{
        margin: 0 auto;
        border-collapse: separate;
        border-spacing: 2px!important;
        font-size: 16px;
        line-height:1.5;
    }
    table tr td{
        text-align: center;
        padding: 5px;
    }
    table tr:nth-child(odd) {
          background-color: rgba(76, 46, 0, 0.17);
        }
        span{
            @include midtext();
            font-size: 23px;
        }
}
*/
/*
@include css3(transition,all 1s ease);
@include css3(animation,opacitylight 2s infinite linear);
@include keyframes(opacitylight) {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
*/
/*
@media screen and (min-width: 0px) and (max-width:640px) {}
@media screen and (min-width: 641px) and (max-width:1200px) {}
@media screen and (min-width: 1201px) and (max-width:2000px) {}
*/
/*zindex*/
/*midtext*/
/*stext*/
/*btn*/
/*specify*/
/*keyframes*/
/*Responsive*/
/*radius*/
/*boxshadow*/
/*POS*/
/*SIZE*/
/*clearfix*/
/*changebg*/
/*animated-picandtxt*/
/* line 219, ../sass/screen.scss */
a {
  text-decoration: none;
}

/* line 222, ../sass/screen.scss */
li {
  list-style: none;
}

/* line 226, ../sass/screen.scss */
body {
  width: 100%;
  background: #000;
  min-width: 1000px;
}

/* line 232, ../sass/screen.scss */
.wrapper {
  width: 100%;
  height: auto;
  margin: 0 auto;
  min-width: 1000px;
}

/* line 238, ../sass/screen.scss */
.wrapper-in {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

/* line 245, ../sass/screen.scss */
.topbanner {
  position: relative;
  background: url(../images/bg.jpg) top center;
  width: 100%;
  height: 1200px;
  margin-bottom: -120px;
  overflow: hidden;
}
/* line 252, ../sass/screen.scss */
.topbanner:after {
  content: "";
  position: absolute;
  background: url(../images/bg2.jpg) top center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-animation: cssAnimation_light 3s infinite linear;
  -moz-animation: cssAnimation_light 3s infinite linear;
  -ms-animation: cssAnimation_light 3s infinite linear;
  -o-animation: cssAnimation_light 3s infinite linear;
  animation: cssAnimation_light 3s infinite linear;
}
/* line 263, ../sass/screen.scss */
.topbanner .logo {
  position: absolute;
  top: 100px;
  left: 0;
  width: 570px;
  height: 160px;
  cursor: pointer;
}
/* line 271, ../sass/screen.scss */
.topbanner .list {
  position: absolute;
  top: 430px;
  left: 60px;
}
/* line 275, ../sass/screen.scss */
.topbanner .list li {
  float: left;
  position: relative;
  width: 100px;
  height: 350px;
  cursor: pointer;
}
/* line 282, ../sass/screen.scss */
.topbanner .list .listbtn-sp {
  background: url(../images/list_sp.png);
  position: relative;
}
/* line 285, ../sass/screen.scss */
.topbanner .list .listbtn-sp:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background: url(../images/list_sp.png);
  background-position: -100px 0;
  width: 100px;
  height: 350px;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-animation: opacitylight 0.08s infinite linear;
  -moz-animation: opacitylight 0.08s infinite linear;
  -ms-animation: opacitylight 0.08s infinite linear;
  -o-animation: opacitylight 0.08s infinite linear;
  animation: opacitylight 0.08s infinite linear;
}
/* line 298, ../sass/screen.scss */
.topbanner .list .listbtn-sp:hover:after {
  opacity: 1 !important;
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  -o-animation: none;
  animation: none;
}
/* line 303, ../sass/screen.scss */
.topbanner .list .listbtn {
  /*margin-right: -15px;*/
}
/* line 305, ../sass/screen.scss */
.topbanner .list .listbtn:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background: url(../images/listbg_a.png);
  width: 100px;
  height: 350px;
  opacity: 0;
  -webkit-transition: all 0.3s cubic-bezier(0, 1, 0.61, 1);
  -moz-transition: all 0.3s cubic-bezier(0, 1, 0.61, 1);
  -ms-transition: all 0.3s cubic-bezier(0, 1, 0.61, 1);
  -o-transition: all 0.3s cubic-bezier(0, 1, 0.61, 1);
  transition: all 0.3s cubic-bezier(0, 1, 0.61, 1);
  z-index: 2;
}
/* line 317, ../sass/screen.scss */
.topbanner .list .listbtn:hover:after {
  height: 350px;
  opacity: 1;
}
/* line 321, ../sass/screen.scss */
.topbanner .list .listbtn:before {
  position: absolute;
  top: 50px;
  left: 0;
  content: "";
  background: url(../images/listbg_b.png) bottom;
  width: 100px;
  height: 0px;
  opacity: 0;
  -webkit-transition: all 0.3s cubic-bezier(0, 1, 0.61, 1);
  -moz-transition: all 0.3s cubic-bezier(0, 1, 0.61, 1);
  -ms-transition: all 0.3s cubic-bezier(0, 1, 0.61, 1);
  -o-transition: all 0.3s cubic-bezier(0, 1, 0.61, 1);
  transition: all 0.3s cubic-bezier(0, 1, 0.61, 1);
  z-index: 1;
}
/* line 333, ../sass/screen.scss */
.topbanner .list .listbtn:hover:before {
  height: 300px;
  opacity: 1;
}
/* line 337, ../sass/screen.scss */
.topbanner .list .listbtn .listbtn-txt {
  width: 100px;
  height: 350px;
  background: url(../images/list_txt.png);
  z-index: 5;
  position: relative;
}
/* line 343, ../sass/screen.scss */
.topbanner .list .listbtn .listbtn-txt:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background: url(../images/list_txt.png);
  width: 100px;
  height: 350px;
  background-position: 0 -350px;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 355, ../sass/screen.scss */
.topbanner .list .listbtn .listbtn-txt:hover:after {
  opacity: 1;
}
/* line 361, ../sass/screen.scss */
.topbanner .list li:nth-child(3) .listbtn-txt {
  background-position: -100px 0;
}
/* line 361, ../sass/screen.scss */
.topbanner .list li:nth-child(3) .listbtn-txt:after {
  background-position: -100px -350px;
}
/* line 362, ../sass/screen.scss */
.topbanner .list li:nth-child(4) .listbtn-txt {
  background-position: -200px 0;
}
/* line 362, ../sass/screen.scss */
.topbanner .list li:nth-child(4) .listbtn-txt:after {
  background-position: -200px -350px;
}
/* line 363, ../sass/screen.scss */
.topbanner .list li:nth-child(5) .listbtn-txt {
  background-position: -300px 0;
}
/* line 363, ../sass/screen.scss */
.topbanner .list li:nth-child(5) .listbtn-txt:after {
  background-position: -300px -350px;
}
/* line 364, ../sass/screen.scss */
.topbanner .list li:nth-child(6) .listbtn-txt {
  background-position: -400px 0;
}
/* line 364, ../sass/screen.scss */
.topbanner .list li:nth-child(6) .listbtn-txt:after {
  background-position: -400px -350px;
}

@-webkit-keyframes opacitylight {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes opacitylight {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes opacitylight {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes opacitylight {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes cssAnimation_light {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes cssAnimation_light {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes cssAnimation_light {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes cssAnimation_light {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* line 383, ../sass/screen.scss */
.topbtn {
  background: #000;
  position: fixed;
  right: 0;
  top: 20px;
  -webkit-border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  -ms-border-radius: 10px 0 0 10px;
  -o-border-radius: 10px 0 0 10px;
  border-radius: 10px 0 0 10px;
  padding: 0px 25px;
  padding-right: 50px;
  cursor: default;
  z-index: 99;
  color: #eabd5a;
  font: normal 15px/35px "Microsoft JhengHei";
}
/* line 395, ../sass/screen.scss */
.topbtn .txtbtn {
  margin: 0 6px;
}
/* line 398, ../sass/screen.scss */
.topbtn a {
  color: #eabd5a;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  float: left;
}
/* line 402, ../sass/screen.scss */
.topbtn a:hover {
  color: #ff7600;
}
/* line 405, ../sass/screen.scss */
.topbtn a .iconbtn {
  position: relative;
  width: 26px;
  height: 25px;
  background: url(../images/topbtn.png);
  margin: 5px 2px;
  opacity: .5;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* line 413, ../sass/screen.scss */
.topbtn a .iconbtn:hover {
  opacity: 1;
}
/* line 417, ../sass/screen.scss */
.topbtn a .bh-btn {
  background-position: 0 0;
}
/* line 418, ../sass/screen.scss */
.topbtn a .gd-btn {
  background-position: -30px 0;
}
/* line 419, ../sass/screen.scss */
.topbtn a .fbshare-btn {
  background-position: -60px 0;
}
/* line 420, ../sass/screen.scss */
.topbtn a .fb-btn {
  background-position: -90px 0;
  opacity: 1;
}
/* line 421, ../sass/screen.scss */
.topbtn a .fb-btn:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 25px;
  content: "";
  background: url(../images/topbtn.png);
  background-position: -90px -30px;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* line 433, ../sass/screen.scss */
.topbtn a .fb-btn:hover:after {
  opacity: 1;
}

/* line 439, ../sass/screen.scss */
.content {
  border-bottom: 2px solid #131313;
  top: 0px;
  position: relative;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* line 444, ../sass/screen.scss */
.content .page {
  display: none;
}
/* line 447, ../sass/screen.scss */
.content .tietle-big {
  position: relative;
  background: url(../images/tietlebk.png);
  width: 1000px;
  height: 500px;
  margin-left: -150px;
  margin-top: -500px;
  overflow: hidden;
}
/* line 455, ../sass/screen.scss */
.content .tietle-big img {
  position: absolute;
  top: 150px;
  left: 200px;
}
/* line 461, ../sass/screen.scss */
.content .close {
  position: absolute;
  top: 165px;
  left: 480px;
  cursor: pointer;
  z-index: 2;
}
/* line 468, ../sass/screen.scss */
.content .content-txt {
  position: relative;
  margin: -180px 0px 50px 80px;
  font: normal 15px/22px "Microsoft JhengHei";
  color: #cbc2ab;
}
/* line 473, ../sass/screen.scss */
.content .content-txt .tietle {
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 35px;
  color: #efe5cc;
  font-weight: bolder;
}
/* line 480, ../sass/screen.scss */
.content .content-txt .alert-txt {
  color: #c10022;
}
/* line 485, ../sass/screen.scss */
.content .content-txt .list-li li {
  display: list-item;
  list-style-type: decimal;
  text-indent: -15px;
  padding-left: 15px;
}
/* line 492, ../sass/screen.scss */
.content .content-txt table {
  border-collapse: separate;
  border-spacing: 5px !important;
}
/* line 495, ../sass/screen.scss */
.content .content-txt table tr {
  background-color: #750013;
}
/* line 497, ../sass/screen.scss */
.content .content-txt table tr th, .content .content-txt table tr td {
  text-align: center;
  padding: 5px;
}
/* line 500, ../sass/screen.scss */
.content .content-txt table tr th a, .content .content-txt table tr td a {
  color: #cbc2ab;
}
/* line 504, ../sass/screen.scss */
.content .content-txt table tr th {
  font-size: 18px;
  background: #983f00;
  color: #feffd0;
}
/* line 512, ../sass/screen.scss */
.content .content-br {
  border-bottom: 2px solid #313131;
  margin-top: 40px;
  margin-bottom: 20px;
  width: 80%;
}

/* line 519, ../sass/screen.scss */
.content-out {
  top: 500px;
}

/* line 523, ../sass/screen.scss */
.cr {
  text-align: center;
  position: relative;
}
/* line 526, ../sass/screen.scss */
.cr img {
  vertical-align: middle;
}
