/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "slick.css";
@import "reset.css";
@import "pagination.css";


/*left: calc(50% - 82.5px);*/


/*
@media screen and (min-width: 0px) and (max-width:640px) {}
@media screen and (min-width: 641px) and (max-width:1200px) {}
@media screen and (min-width: 1201px) and (max-width:2000px) {}
*/


/*
    -webkit-animation: anname ease 1.5s infinite;
    -moz-animation: anname ease 1.5s infinite;
    -o-animation: anname ease 1.5s infinite;
    animation: anname ease 1.5s infinite;

@-webkit-keyframes anname {
    0% { -webkit-transform: ; }
    100% { -webkit-transform: ; }
}

@-moz-keyframes anname {
    0% { -moz-transform:; }
    100% { -moz-transform:; }
}
@-o-keyframes anname {
    0% { -o-transform:; }
    100% { -o-transform:; }
}
@keyframes anname {
    0% { transform:; }
    100% { transform:; }
}
*/





/*zindex*/

@mixin zindex() {
    z-index: 999;
}


/*midtext*/

@mixin midtext() {
    font: bold 20px/40px sans-serif;
    font-family: Microsoft JhengHei;
    letter-spacing: 1px;
}


/*stext*/

@mixin stext() {
    font: bolder 16px/30px sans-serif;
    font-family: Microsoft JhengHei;
    color: #4a2d0d;
}
/*btn*/

@mixin btntext() {
    font: bolder 25px/45px sans-serif;
    font-family: Microsoft JhengHei;
}


/*specify*/

@mixin css3($property, $value) {
    @each $prefix in -webkit-,
    -moz-,
    -ms-,
    -o-,
    '' {
        #{$prefix}#{$property}: $value;
    }
}


/*keyframes*/

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}


/*Responsive*/

@mixin Responsive($point) {
    @if $point==large {
        @media (min-width: 2000px) {
            @content;
        }
    }
    @else if $point==medium {
        @media (min-width: 1200em) {
            @content;
        }
    }
    @else if $point==small {
        @media (min-width: 640em) {
            @content;
        }
    }
}


/*radius*/

@mixin border-radius($angle) {
    border-radius: $angle;
    -webkit-border-radius: $angle;
    -moz-border-radius: $angle;
    -ms-border-radius: $angle;
    -o-border-radius: $angle;
}


/*boxshadow*/

@mixin boxshadow($shx, $shy, $shblur, $shcolor) {
    box-shadow: $shx $shy $shblur $shcolor;
    -webkit-box-shadow: $shx $shy $shblur $shcolor;
    -moz-box-shadow: $shx $shy $shblur $shcolor;
    -ms-border-radius: $shx $shy $shblur $shcolor;
    -o-box-shadow: $shx $shy $shblur $shcolor;
}


/*POS*/

@mixin POS($top, $left) {
    position: absolute;
    top: $top;
    left: $left;
}


/*SIZE*/

@mixin SIZE($width, $height) {
    width: $width;
    height: $height;
}


/*clearfix*/

@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}


/*changebg*/

@mixin bg($name, $bg) {
    background: url("../images/#{$name}.#{$bg}");
    width: image-width("../images/#{$name}.#{$bg}");
    height: image-height("../images/#{$name}.#{$bg}");
}


/*animated-picandtxt*/


/*EX
-----html-----
<a href="/">
<span class="outer"><span class="inner">The animation is created using CSS3 transitions. Very useful.</span></span>
<img src="http://www.lukeharrison.net/wp-content/uploads/2014/02/screenshot_preview5.jpg" alt="Animated Image Caption" />
</a>
-----css-----
a {@include animated-caption(#ffffff, #333333, 0.75, 10px, 0.5s)}
*/

@mixin animated-caption($font-color,
$bg-color,
$bg-opacity,
$padding,
$transition-speed) {
    display: inline-block;
    position: relative;
    overflow: hidden;
    & img {
        display: block;
        width: 100%;
        height: auto;
    }
    & span.outer {
        display: block;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: $padding;
        color: $font-color;
        position: absolute;
        bottom: -100px;
        -webkit-transition: bottom $transition-speed ease;
        -moz-transition: bottom $transition-speed ease;
        -o-transition: bottom $transition-speed ease;
        -ms-transition: bottom $transition-speed ease;
        transition: bottom $transition-speed ease;
        & span.inner {
            margin: 0px;
            position: relative;
        }
        &:before {
            content: " ";
            display: block;
            position: absolute;
            z-index: 0;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            background: $bg-color;
            filter: alpha(opactiy=($bg-opacity * 100));
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$bg-opacity * 100})";
            -moz-opacity: $bg-opacity;
            -khtml-opacity: $bg-opacity;
            opacity: $bg-opacity;
        }
    }
    &:hover span.outer {
        bottom: 0px;
    }
}
/*btnstyle*/
.btn{
    width: 100px;
    height: 30px;
    font: bold 15px/30px sans-serif;
    float: left;
    border: 1px solid #e8d86e;
    color: #e8d86e;
    background: rgba(0,0,0,.6);
    font-family: inherit;
    cursor: pointer;
    margin: 20px calc(50% - 50px);
    text-transform: uppercase;
    letter-spacing: 4px;
    position: relative;
    @include css3(transition,all 0.3s);
    text-align: center;
    text-decoration: none;
}
.btn:hover{
    border: 1px solid #FFF;
    color: #FFF;
    background: rgba(180,12,0,.3);
}
/*
@include POS(475px,75px);
@include css3(transition,all .7s);
@include css3(box-shadow,0px 0px 14px #ffffff);


*/
a{
    text-decoration: none;
}
li {
    list-style: none;
}

body {
    width: 100%;
    background: #2170ad;
    min-width: 1000px;
}

.wrapper {
    width:100%;height:auto;margin:0 auto;overflow:hidden;
}
.wrapper-in{
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.topbanner{
    .bar{
        width: 100%;
        min-width: 320px;
        height: 60px;
        background: rgba(0,50,70,0.7);
        position: fixed;
        z-index: 99999;
        left:0%;
        margin-left: 0;
    }
    .bar span{
        font: bold 22px/60px sans-serif;
        font-family: Microsoft JhengHei;
        color: #ffffff;
        margin-left:10px;
        display: inline-block;
    }
    .common_bar>a{
        float: right;
        width: 45px;
        height: 45px;
        margin: 7px 5px;
        background: url(../images/ui_btn.png)no-repeat;
        cursor: pointer;
    }
    .fb-top-mb{background-position: 0 0 !important;}
    .line-top-mb{background-position: -45px 0 !important;}
    .han-mb{background-position: -180px 0 !important;margin: 0 0 0 5px !important;width: 60px !important;height: 60px !important;}
    .han-mb-list{width: 100%;height: 100%; background: rgba(0,20,30,.95);position: fixed;min-width: 320px;}
    .han-mb-list-in{width: 100%;height: 100%;overflow: auto;padding-bottom: 100px;
        @include midtext();color: #ffd800;text-align: center;
    }
    .han-mb-list-in a{
        color: #ffd800;
        cursor: pointer;
    }
    .han-mb-list-in .listitem{
        padding-bottom: 5px;
        cursor: default;
    }
    .han-mb-list-in>li{
        border-bottom: 2px solid #446172;color: #ffd800;
        font: normal 30px/60px sans-serif;
        font-family: Microsoft JhengHei;
        letter-spacing: 1px;
        clear:both;
    }
    .han-mb-list-in>li>div>ul{
        background: rgba(255,255,255,.1);
        overflow: hidden;
        text-align: center;
    }
    .han-mb-list-in>li>div>ul>a{
        color: #fff; 
        border-right: 1px solid #fff;
        font: normal 20px/30px sans-serif;
        text-align: center;
        padding: 0px 10px;
        margin: 5px 0px;
        text-decoration: underline !important;
    }
    .han-mb-list-in>li>div>ul>a:last-child{
        border-right: 0px solid #fff;
    }
    .han-mb-list-in>li>div>ul>a>span{
        margin: 0;padding: 0;
    }
    .han-mb-list-in .inlist-tietle{
        font: normal 20px/30px sans-serif;
        color: rgb(255, 235, 128);

    }

    .han-mb-ext{cursor: pointer; position: absolute;top:-60px;right: 0;background: url(../images/ui_btn.png) -240px 0 no-repeat;width: 60px;height: 60px;}
    .top-list{
        position: relative;
        padding-top: 15px;
        .top-btn{
            position: relative;
            background: url(../images/ui_btn.png);
            width: 182px;
            height: 50px;
            cursor: pointer;
            &:after{
                content: "";
                position: absolute;
                width: 182px;
                height: 50px;
                top: 0;
                left: 0;
                background: url(../images/ui_btn.png);
                @include css3(transition,all .5s);
                opacity: 0;
                
            }
            &:hover:after{
                opacity: 1;
            }
        }
        .fb-top{
            background-position: -400px 0px;
            &:after{
                background-position: -400px -50px;
            }
        }
        .moeny-top{
            background-position: -90px 0px;
            width: 50px;
            &:after{
                width: 50px;
                background-position: -90px -50px;
            }
        }
        >a{float: left;margin-left: 10px;}
        >li{
            float: left;
            @include midtext();
            color: #ffffff;
            position: relative;
            text-decoration: none;
            margin-left: 10px;
            text-shadow: 1px 1px 3px #1b1b1b;
            cursor: pointer;
            text-align: center;
            width: 100px;
            height: 40px;
            overflow: hidden;
            >a{
                @include css3(transition,all .5s);
                color: #ffffff;
                &:hover{color: #ffd800;}
            }
            &:hover{
                color: #ffd800;
                height: auto;
            }
            .inlist ul{
                font-size: 15px;
                color: #fff;
                li{@include stext();
                    a{color: #fff;&:hover{color: #ffd800;}}
                    
                }
            }
        }
        .listitem{
            @include css3(transition,all .5s);
            @include css3(border-radius,5px);
            cursor: default;

            &:hover{
                background: rgba(0,0,0,.4);
                            }
            ul{
                background: rgba(0, 0, 0, .3);
                margin-top: 3px;
                .inlist-tietle{background: rgba(0, 0, 0, .3);cursor: default;}
                &:hover{
                    background: rgba(20, 130, 185, .5);
                }
            }
        }
    }
}
.mainbannerbk{
    position: relative;
    background: url(../images/maintopbanner.jpg) center fixed;
    //@include css3(transition,all .1s);
    height: 986px;
    &:after{
        content: "";
        background: rgba(255,255,255,.5);
        width: 100%;
        height: 220px;
        position: absolute;
        bottom: 0;
    }
    .topbannerbar{
        z-index: 9999;
        position: absolute;
        bottom: 20px;
        padding-left: 60px;
        .qr{
            position: relative;
            width: 170px;
            height:170px;
            float: left;
            img{
                width: 100%;
            }
        }
    }
}
.download{
            position: relative;
            width: 175px;
            float: left;
            margin: 0 10px;
            >div{
                width: 175px;
                height: 50px;
                cursor: pointer;
                margin-bottom: 10px;
                background: url(../images/ui_btn.png);
                &:after{content: "";position: absolute;width: 175px;height: 50px;opacity: 0;@include css3(transition,all .4s);background: url(../images/ui_btn.png);}
                &:hover:after{opacity: 1;}
            }
            .ios{background-position: -650px 0;
                &:after{background-position: -650px -50px;}
            }
            .apk{background-position: -825px 0;
                &:after{background-position: -825px -50px;}}
            .googleplay{background-position: -1000px 0;
                &:after{background-position: -1000px -50px;}}
}
.fbbtn{
    position: absolute;
    right: 20px;
    top:10px;
    opacity: .6;
    @include css3(transition,all .7s);
    &:hover{
        opacity: 1;
    }
}
.newsbanner{
    width: 465px;
    margin-left: 36px;
}
.news{
    width: 445px;
    margin-left:20px;
}
.newssection{
    clear: both;
    overflow: hidden;
}
.newssection>.tietle{
    clear: both;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 10px;
    margin-bottom:20px; 
}
.newssection>.box{
    float: left;
}
.part-video{
    position: absolute;
    top:455px;
}
.video{
    position: relative;
    width: 540px;
    left: 440px;
    height: 31rem;
    float: left;background: url(../images/youtube_bg.png) center center no-repeat;
    background-size: 100%;
    margin: 40px auto;
}
.video .youtubebox{
    width:90%;margin: 60px auto 8px;position: relative;
    padding-bottom: 50%; /* 16:9 */
    border: 3px double #565656;
    height: 0;
}
.video .youtubebox>iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.video .video-list{
    width: 90%;height: 120px;margin: 0 auto;background: rgba(255,255,255,.6);@include css3(border-radius,5px);margin: 5px auto;
}
.video .video-list a{
    width: calc(50% - 15px);
    height: 2.5rem;
    float: left;
    border-bottom: 1px solid #2170ad;
    margin-right: 15px;
    font-size: .95rem;
    color: #004B84;
    line-height:2.5rem;
    white-space: nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.video .video-list a:hover{
    color: #052246;
}
/*person*/
#personL{
    position: absolute;
    z-index: 333;
    margin-top: 1000px;
    @include css3(transition,all .7s);
    right: 85%;
    float: right;
    opacity: 0;
}
#personR{
    position: absolute;
    z-index: 333;
    margin-top: 1595px;
    @include css3(transition,all .7s);
    width: 20%;
    height: 604px;
    right: 0;
    opacity: 0;
}
#personL:before{
    content: url(../images/p_left.png);
}
#personR:before{
    content: url(../images/p_right.png);
}
.goL{right: 70%!important;opacity: 1!important;}
.goR{opacity: 1!important;background-position:5px top!important; }
/*part-news*/
.part-news{
    background: url(../images/newsbk.jpg) center;
    height: 521px;
}
/*news---------------------------------*/
.newssection .news .title{
    width: 100%;height:73px;
}
.newssection .news .title::before{
    content:" ";width: 50%;height:73px;background: url(../images/m_title_index_news.png) left top no-repeat;float: left;
}
.newssection .news .title::after{
    content:" ";width: 50%;height:73px;background: url(../images/m_title_index_news.png) right top no-repeat;float: right;
}
.newssection .news .newsbtn{
    width: 100%;height: 42px; margin:15px auto;    margin-top: 0;
}
.newsbtn a{
    width: 70px; height: 42px;margin-right: 3px;
    font: bold 0.95rem/42px sans-serif;
    font-family: Microsoft JhengHei;
    background: #3553a9;
    border:  1px solid #6381c7;
    text-align: center;
    color: #e7ffff;
    @include css3(transition,all .5s ease);
}
.newsbtn a:hover{
    background: #0066cb;
    border:  1px solid #0092df;
    color: #fff;
}
.newsbtnnow{
    background: #0066cb !important;
    border:  1px solid #0092df !important;
    color: #fff !important;
}

.news ul.list{
    width: 100%; height:auto;
    margin-top: 55px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);opacity: 0;
    @include css3(transition,all 1s ease);
}
.news ul.list li{
    width: 100%; height:2.2rem; border-radius: 5px;background-color: #3553a9;margin: 5px 0;transition: all 0.5s ease;
}
.goT{margin-top: 0px!important;opacity: 1!important;}

.news ul.list li:hover{
    background-color: #21419d;color: #00ffff;
}
.top{
    @include css3(transition,all 0.5s ease);
    margin: 8px;
    margin-top: 20px;
    @include stext();
    color: #fff;
    @include css3(border-radius,5px);
    background: #787169;
    text-align: center;
    cursor: pointer;
}
.top:hover{background-color: #0d4c7d!important;}
.news ul.list li a{
    width: 100%;height:2.2rem;
}
.news ul.list li a h4{
    display: none;
}
.news ul.list li a p{
    float: left; height:2.2rem; width: 70%;font-size: 1.05rem;line-height:2.2rem;padding-left: 10px;color: #efefef;
    white-space: nowrap;overflow:hidden;text-overflow:ellipsis;
}
.news ul.list li a span{
    float: right; height: 2.2rem; width: 25%;font-size: 0.7rem;line-height:2.2rem;padding-right: 15px;color: #ccc;text-align: right;
}
.news .more.trans-o-a{
    width: 122px;height:41px;background:url(../images/btn_index_more.png) 0 0 no-repeat;display: block;margin:20px auto;
}
.news .more.trans-o-a::before{
    width: 122px;height:41px;background:url(../images/btn_index_more.png) no-repeat;background-position: 0px -43px;  
}
/*part-2*/
.part-2{
    background: url(../images/p2_bk.jpg) center bottom fixed;
    background-size:cover;
    height: 520px;
}
.storybox{
    clear: both;
    padding: 40px 0;
    width: 950px;
    z-index: 9999;
    >div{
        position: relative;
        float: left;
        cursor: pointer;
        /*background: url(../images/ui_p2.png);
        @include css3(transition,all .1s);*/
        &:after{content: "";position: absolute;width: 0;height: 100%;@include css3(transition,all .4s);background: url(../images/ui_p2.png);}
                &:hover:after{width: 100%;}
        &:before{content: "";position: absolute;width: 100%;height: 100%;right: 0;@include css3(transition,all .2s);background: url(../images/ui_p2.png);}
                &:hover:before{width: 0%;}
    }
    .storybox-big{
        width: 470px;
        height: 270px;
        margin-bottom: 10px;
    }
    .storybox-s{
        width: 310px;
        height: 165px;
    }
    .storybox1{margin-right: 10px;&:before{background-position: 0 0;}&:after{background-position: -500px 0;}}
    .storybox2{&:before{background-position: 0 -280px;}&:after{background-position: -500px -280px;}}
    .storybox3{margin-right: 10px;&:before{background-position: 0 -560px;}&:after{background-position: -500px -560px;}}
    .storybox4{margin-right: 10px;&:before{background-position: 0 -730px;}&:after{background-position: -500px -730px;}}
    .storybox5{&:before{background-position: 0 -900px;}&:after{background-position: -500px -900px;}}
}
/*part-3*/
.part-3{
    background: url(../images/fbsharebk.png) repeat;
    height: 160px;
}
.sharebox{
    text-align: center;
    padding: 20px 120px;
    >div{
        position: relative;
        float: left;
        width: 380px;
        height: 120px;
        background: url(../images/linkbtn.png);
        cursor: pointer;
        &:after{content: "";position: absolute;top:0;left:0;width: 100%;height: 100%;opacity: 0;@include css3(transition,all .6s);background: url(../images/linkbtn.png);}
                &:hover:after{opacity: 1;}
    }
    .fb{background-position: 0 0;&:after{background-position: 0 -120px;}}
    .bh{background-position: -380px 0;&:after{background-position: -380px -120px;}}
}
.part-cr{background: #253e5a;height: 120px;}
/*footer*/
.footer{
    width: 100%;height:120px;overflow: hidden;background: #253e5a;
}
.footer .box{
    margin-top: 45px;
}
.chinesegamer{
    width: 260px;height: 41px;float: left;background:url(../images/logo_chinesegamer.png) 0 0 no-repeat;-webkit-background-size: 100% auto;
    background-size: 100% auto;margin-right: 15px;
}
.gameflier{
    width: 159px;height: 41px;float: left;background:url(../images/logo_gameflier.png) 0 0 no-repeat;-webkit-background-size: 100% auto;
    background-size: 100% auto;margin-right: 15px;
}
.g12{
    width: 47px;height: 47px;float: left;background:url(../images/icon_g12.png) 0 0 no-repeat;-webkit-background-size: 100% auto;
    background-size: 100% auto;margin-right: 15px;
}
.footer p{
    color: #ccc;font-size: 0.5rem;line-height: 15px;
}
.mb-show{display: none;}

/*inpage*/
.inpagebannerbk{
    position: relative;
    height: 400px;
}
.inpagebk-1{
    background: url(../images/inpagebanner_01.jpg) center;
}
.inpagebk-2{
    background: url(../images/inpagebanner_02.jpg) center;
}
.inpagebk-3{
    background: url(../images/inpagebanner_03.jpg) center;
}
.inpagebannerbk .logo{
    @include bg(logo,png);
    @include POS(100px,150px);
    cursor: pointer;
    &:hover{background: url(../images/logo2.png);}
}
.inpagebar{
    background: url(../images/inpage_tietle_bk.png) repeat;
    height: 130px;
    border-bottom: 15px solid #4c7398;
    .inpage-tietlepic{
        position: absolute;
        bottom: 0;
        left: -60px;
    }
    .inpage-tietle{
        @include POS(15px,100px);
        img{width: 100%;}
    }
    .inpage-back-out{
        position: absolute;
        right: 35px;
        top: 40px;
    }
    .inpage-back{
        width: 140px;
        height: 45px;
        border: 1px solid #2170ad;
        font: bold 20px/45px sans-serif;
        font-family: Microsoft JhengHei;
        letter-spacing: 1px;
        color: #fff;
        font-weight: normal;
        text-align: center;
        background: rgba(20,60,140,.3);
        @include css3(transition,all .5s ease);
        img{
            position: relative;
            top: 8px;
        }
        &:hover{
            background: rgba(0,30,100,.8);
            border: 1px solid #001d6f;
        }
    }
}
.inpageinf{
    background: url(../images/inpage_tietle_txt_outbk.png) repeat;
    .inpageinfborder{
        background: url(../images/inpage_txt_bk.png) repeat;
        @include boxshadow(0px, 0px, 25px, #000);
        overflow: hidden;
        .inpageinfborder2{
            border-bottom: solid 50px;
            border-top: solid 50px;
            border-image: url("../images/inpage_txtborder.png");
            border-image-slice: 210 210 fill;
            overflow: hidden;
            border-image-slice: 105 100;
            border-image-width: 105px;
        }
    }
}
.inpageinf-lpage{width: 72%;float: left;margin: 30px 30px 0px 50px;border-right: 1px solid #ccc ;}
.inpageinf-topbtn{
    width: 95%;
    margin: 0 auto 25px auto;
    a{
        width: calc(25% - 15px);
        height: 40px;
        margin-right: 3px;
        @include css3(transition,all .5s ease);
        font: normal 16px/40px sans-serif;
        font-family: Microsoft JhengHei;
        background-color:#123e90;
        border:1px solid #0081ed;
        color: #ccc;
        text-align: center;
        letter-spacing: 3px;
        &:hover{
            background: #0066cb;
            border:  1px solid #0092df;
            color: #fff;
        }
    }
}
.inpageinf-topbtn-now{
    background: #0066cb !important;
    border:  1px solid #0092df !important;
    color: #fff !important;
}
.inpageinf-rpage{
    display: block!important;
    float: left;
    width: 175px;
    height: auto;
    border: none;
    background-color: transparent;
    padding: 25px 0 100px 0;
    .load{
        .qr{
            img{width: 175px;}
        }
        .download{
            margin: 10px 0px;
        }
    }
}
.inpage-topbanner-load{
    top: 240px;
    position: relative;
    .topbannerbar{padding-left: 0!important;}
    .download > div{margin-bottom: 3px;}
}

/*news*/
.list-page{
    width: 95%;
    li{
        width: 100%;
        margin: 5px 0;
        border-bottom: 1px solid #ccc;
        a{
            width: 100%;height:45px;display: block;
        }
        h4{width: 2.5rem; height: 1.25rem;float: left;margin-right: 5px;position: relative;line-height:1.0rem;margin-top:0.6rem;
                &:after{content: '';display: block;position: absolute;top: 0px;left: 100%;width: 0;height: 0;border-style: solid;border-width: 0.65rem;}
                &:before{content: "";color:#fff;font-size:.75rem;margin-left: 8px;letter-spacing: 2px;}
            }
        p{
            float: left; height:2.2rem; width: 70%;font-size: 1.05rem;line-height:2.5rem;padding-left: 10px;color: #000; display: block;font-weight:500;
            white-space: nowrap;overflow:hidden;text-overflow:ellipsis;
            &:hover{color: #3553a9;}
        }
        span{
            float: right; height: 2.2rem;font-size: 0.8rem;line-height:2.5rem;padding-right: 10px;color: #333;text-align: right;
        }
    }
}
/*newspage*/
.in-newspage{
    width: 95%;
    li{
        width: 100%;
        margin: 5px 0;
        border-bottom: 1px solid #ccc;
        a{
            width: 100%;height:45px;display: block;
        }
        h4{width: 2.5rem; height: 1.25rem;float: left;margin-right: 5px;position: relative;line-height:1.0rem;margin-top:0.6rem;
                &:after{content: '';display: block;position: absolute;top: 0px;left: 100%;width: 0;height: 0;border-style: solid;border-width: 0.65rem;}
                &:before{content: "";color:#fff;font-size:.75rem;margin-left: 8px;letter-spacing: 2px;}
            }
        p{
            float: left; height:2.2rem; width: 70%;font-size: 1.05rem;line-height:2.5rem;padding-left: 10px;color: #000; display: block;font-weight:500;
            white-space: nowrap;overflow:hidden;text-overflow:ellipsis;
        }
        span{
            float: right; height: 2.2rem;font-size: 0.8rem;line-height:2.5rem;padding-right: 10px;color: #333;text-align: right;
        }
    }
}
/*NEWS PAGE*/
.newspage-box{width: 72%;float: left;margin:20px 30px 100px 50px;border-right: 1px solid #ccc ;}
.newspage-box .content{width: 95%;float: left;margin-top: 20px ;line-height: 1.8rem;}

/*NEWS PAGE TITLe*/
.newspage-box ul.list-page li {
    display: inline-block;
}
.newspage-box ul.list-page li p{
     width: 100%;height:auto;font-size: 1.25rem;padding: 10px 0;font-weight: 800;line-height:1.5rem;color: #003399;
    white-space: normal;
}

.newspage-box ul.list-page li span{
    float: left;font-size:0.7rem;margin:0px 0 0 12px;position: absolute;/*top:58px;left:110px;*/
}

.newspage-box .content img{width: 100%;margin:5px;height: auto;}
.newspage-box .content ul{padding-left: 20px;margin: 10px 0;}
.newspage-box .content ul>li{list-style:disc; }
.newspage-box .content ol{padding-left: 20px;margin: 10px 0;}
.newspage-box .content ol>li{list-style:decimal; }

/*hero page*/
.inpage-listbtn{
    margin-bottom: 15px;
    text-align: center;
    .inpage-listbtn-on{
        background: #0d4c7d;
    }
    li{
        width: calc(33% - 8px);
        margin: 2px;
        @include stext();
        @include css3(transition,all .5s ease);
        @include css3(border-radius,5px);
        background: #787169;
        color: #fff;
        text-align: center;
        display: inline-block;
        cursor: pointer;
        &:hover{
            background: #0d4c7d;
        }
    }
    
}
.hero-inf{
    background: url(../images/heropageinf_bk.png) center;
    background-size: cover;
    width: 98%;
    border-top: 2px solid #c5bcb0;
    border-bottom: 2px solid #c5bcb0;
    padding: 15px 0;
    
    .hero-inf-g1{
        overflow: hidden;
        clear: both;
        div{
            float: left;
        }
        .hero-inf-p1{
            text-align: center;
            margin-left: 20px;
        }
        .hero-inf-p2{
            margin-top: 10px;
            margin-left: 10px;
            ul{
                font: bolder 18px/18px sans-serif;
                font-family: Microsoft JhengHei;
                width: 100%;
                clear: both;
                color: #084d75;
                padding: 5px 0;
                span{
                    margin: 0 10px;
                    float: left;
                }
                .widthnone{
                    width: 410px!important;
                    } 
                li{
                    @include css3(transition,all 1s ease);
                    width: 0;
                    float: right;
                    span{
                        
                        background: #003258;
                        text-indent: -999px;
                    }
                    
                }
            }
        }
    }
    .hero-inf-g2{
        @include css3(border-radius,10px);
        font: bolder 16px/20px sans-serif;
        font-family: Microsoft JhengHei;
        color: #fff;
        background: #084d75;
        margin: -65px 30px 0 30px;
        padding: 30px;
        padding-top: 50px;
        padding-bottom: 1px;
        .hero-close{
            position: relative;
            top: -40px;
            float: right;
            cursor: pointer;
        }
        .hero-inf-p3{
            margin: 20px 0;
            border-top: 1px solid #fff;
            border-bottom: 1px solid #fff;
            padding: 10px;
        }
        .hero-inf-p4{
            clear: both;
            font-size: 20px;
            overflow: hidden;
            width: 80%;
            margin: 0 auto;
            li{
                float: left;
                width: 50%;
                span{
                    width: 30%;
                    float: left;
                }
                p{
                    width: 70%;
                    float: left;
                }
            }
        }
        .hero-inf-p5{
            margin: 20px 0;
            font: bolder 16px/20px sans-serif;
            font-family: Microsoft JhengHei;
            table{
                border-collapse: separate;
                border-spacing: 2px!important;
                tr {
                    background-color: rgb(0, 39, 99);
                      td {
                          padding: 5px 10px;
                      }
                }
            }
            
            .table-tietle{
                background: #003679;
                text-align: center;
                font: bolder 20px/35px sans-serif;
                letter-spacing: 25px;
                font-family: Microsoft JhengHei;
            }
        }
    }
    
}
.hero-icon{
    overflow: hidden;
    clear: both;
    li{
        float: left;
        margin: 5px;
        width: calc(25% - 15px);
        @include css3(border-radius,20px);
        @include css3(transition,all .5s ease);
        background: #838383;
        cursor: pointer;
        img{
            width: 100%;
        }
        &:hover{
            background: #0b55a2;
        }
    }
    .hero-icon-on{background: #084d75!important;}
}
.instorybox{
    text-align: center;
    @include stext();
    padding: 0 5%;
    .instorytxt{
        margin-bottom: 20px;
        border-bottom: #a9a9a9 dashed 1px;
    }
}
.inplaytxt{
    margin-bottom: 20px;
    text-align: left;
    strong{
        color: #006979;
    }
}
.imgtxt{
    margin-top: -10px;
    margin-bottom: 10px;
    color:#920000;
}
.inpageline{
    font-size: 14px;
    margin-bottom: 20px;
    border-bottom: #a9a9a9 dashed 1px;
}
.inplaytietle{
    text-align: center;
    font-size: 26px;
    color: #005998;
    border-top: #a9a9a9 dashed 1px;
    padding-top: 30px;

}
.lawbox{
    font: 16px/30px sans-serif;
    font-family: Microsoft JhengHei;
    color: #4a2d0d;
    padding: 0 5%;
    table{
        border-collapse: separate;
        border-spacing: 3px;
        border: #000 solid 1px;
        tbody{
            tr{
                background-color: rgba(255,255,255,.5);
            }
        }
    }
    strong{
        font-size: 20px;
        color: #005998;
        font-weight: 600;
    }
}
.lawtietle{
    text-align: center;
    font: bolder 26px/35px sans-serif;
    font-family: Microsoft JhengHei;
    color: #005998;
}
/*tiropage*/
 .intirobox{
    max-width: 650px;
    margin: 0 auto;
    overflow: hidden;
    @include stext();
    padding: 0 5%;
    .tiro-btn{
        width: 100%;
        height: 150px;
        border: solid 20px;
        border-image: url("../images/tiro_border.png");
        overflow: hidden;
        border-image-slice: 45;
        border-image-width: 30px;
        float: left;
        cursor: pointer;
        margin: 5px 0;
        img{
            height: 100%;
            position: relative;
            left: -30px;
        }
    }
    .tiro-btns{
        width: calc(50% - 5px);
    }
    .tiro-btnl{
        margin-right:10px; 
    }
    .tiro-bk1{background: url(../images/tiro/tiro_01.jpg) center;}
    .tiro-bk2{background: url(../images/tiro/tiro_02.jpg) center;}
    .tiro-bk3{background: url(../images/tiro/tiro_03.jpg) center;}
    .tiro-bk4{background: url(../images/tiro/tiro_04.jpg) center;}
    .tiro-bk5{background: url(../images/tiro/tiro_05.jpg) center;}
    .tiro-bk6{background: url(../images/tiro/tiro_06.jpg) center;}
    .tiro-bk7{background: url(../images/tiro/tiro_07.jpg) center;}
    .tiro-bk8{background: url(../images/tiro/tiro_08.jpg) center;}
    .tiro-bk9{background: url(../images/tiro/tiro_09.jpg) center;}

 }




@media screen and (max-width:1300px) {
#personL,#personR{display: none;}
}
@media screen and (max-width:1000px) {
    .pc-show{display: none!important;}
    .mb-show{display: block;}
    body {min-width: 320px;}
    .wrapper{width: auto;}
    .wrapper-in{width: 70%;}
    .mainbannerbk{height: 660px;background: url(../images/maintopbanner_s.jpg) center fixed;}
    .mainbannerbk:after{height: 0;}
    .qr{display: none;}
    .topbannerbar{padding-left: calc(50% - 87.5px)!important;bottom:5px !important;}
    .newsbanner{width: 100%;}
    .part-video{position: static;background: url(../images/videobk_s.jpg) center;background-size: 100% 100%;}
    .video{width: 100%;height: 100%;left:0;background: none;border: solid 1px;
    border-image: url('../images/youtube_bg.png');
    border-image-slice: 1 1 fill;
    background-size: contain;
    padding-bottom: 10px;}
    .part-news{height: auto;background: url(../images/newsbk_s.jpg) center;background-size: 100% 100%;}
    .news{width: 100%;margin-left:0px;}
    .newsbanner{margin:0;    padding-top: 20px; }
    .part-2{height: auto;}
    .part-3{height: auto;}
    .sharebox{padding:20px 0; margin: 0 auto;width: 380px !important;}
    .storybox>img{width:100%; margin: 4px auto; cursor:pointer; }
    .part-cr{height: auto;}
    .footer{width: 100%;height:auto;}
    .footer .box{margin: 25px auto;text-align: center;}
    .chinesegamer{ width: 200px;height: 41px;float:none;display: inline-block;background-size: 100% auto;margin-right: 15px;}
    .gameflier{width: 145px;height: 41px;float:none;display: inline-block;background-size: 100% auto;margin-right: 15px;}
    .g12{width: 47px;height: 47px;float:none;display: inline-block;background-size: 100% auto;margin-right: 15px;}
    .footer p{color: #ccc;font-size:0.7rem;line-height: 1rem;text-align: center;display:inline-block;width: 90%;}
    /*inpage*/
    .inpageinf-lpage{width: 100%;float: none;margin:20px auto;border-right:none ;}
    .logo{width: 180px!important;height: 120px!important;left: 0!important;background-size:180px!important;top:130px!important;left: 20px!important; }
    .inpagebannerbk{background-position: 60% 0;}
    .inpagebk-3{background-position: 50% 0;}
    .inpagebar .wrapper-in{width: 100%;}
    /*news*/
    .inpageinfborder{width: 95%;}
    .list-page{margin: 0 auto;}
    .inpageinf-topbtn a{width: calc(25% - 3px);margin-right: 0px;}
    /*newspage*/
    .newspage-box{width: 94%;float:none;margin:20px auto;border-right:none ;}
    .newspage-box .content{width: 100%;float: left;margin: 20px 0 100px 0 ;line-height:1.8rem;}
    .newspage-box .content img{width: 100%;margin:5px auto;height: auto;}
    /*hero*/
    .inpage-listbtn {margin-left: 10px;}
    .inpageinfborder2{border-image: none!important;border-bottom: solid 0px!important; border-top: solid 0px!important;}
    .hero-icon li{width: calc(33% - 11px);}
}
@media screen and (max-width:800px) {
    .wrapper-in{width: 80%;}
    .video{margin: 20px auto;}
    .inpageinfborder{width: 95%;}
    /*inpage*/
    .inpage-tietle{bottom: 0!important;top:auto!important;left: 0!important;}
    .inpage-back-out{right: 10px!important;top: 10px!important;}
    .inpage-tietlepic{display: none;}
    /*hero*/
    .hero-inf{margin: 0 auto;}
    .hero-p1{width: 100%!important;}
    .hero-inf-g2{margin: -168px 10px 0 10px!important;padding: 50px 10px 1px 10px !important;.hero-inf-p3{margin-top: 150px!important;}}
    .hero-inf-p2 {margin: 10px auto 0 auto!important;width: 80%!important;ul span{color: #fff; text-align: center; width: 20%;margin: 0!important;}
    ul li{width: 80%!important;background: #001f4e;span{background:#ffc238!important;}}
    }
    .hero-inf-g1 div{float: none!important;}
    /*story*/
    .instorybox{img{width: 100%;}}
    /*tiro*/
    .tiro-btns{width:100%!important;;}
}
@media screen and (max-width:700px) {
    .video{margin: 10px auto;}
    .hero-icon li{width: calc(33% - 9px);}
}
@media screen and (max-width:600px) {
    .wrapper-in{width: 95%;}
    .inpageinfborder{width: 100%;}
    .mainbannerbk{background: url(../images/maintopbanner_ss.jpg) center fixed;}
    .video .video-list a {width: calc(100% - 15px);}
    .video{margin: 5px auto;}
    .inpagebannerbk{background-position: 65% 0;}
    .inpagebk-2{background-position: 55% 0;}
    .inpagebk-3{background-position: 48% 0;}
    /*hero*/
    .inpage-listbtn li {width: calc(50% - 8px);}
    .hero-icon li{width: calc(50% - 10px);}
    .hero-inf-p4{width: 100%!important;    font-size: 15px!important;}
    /*story*/
    .instorybox{img{width: 100%;}}
    .lawbox {padding: 0 3%;}
}
@media screen and (max-width:400px) {
    .wrapper-in{min-width: 320px;}
    .newssection .tietle img{width: 100%;}
    .sharebox{width: 300px !important;}
    .sharebox > div {width: 300px;height: 95px;background-size: 600px 190px;
        &:after{background-size: 600px 190px;}
    }
    .fb{background-position: 0 0 !important;&:after{background-position: 0 -95px !important;}}
    .bh{background-position: -300px 0 !important;&:after{background-position: -300px -95px !important;;}}
    /*news*/
    .list-page li p{width: 60%;}
    /*hero*/
    .inpage-listbtn li {width: calc(100% - 8px);}
    
}

