/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(slick.css);
@import url(reset.css);
@import url(pagination.css);
/* line 5, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*left: calc(50% - 82.5px);*/
/*
@media screen and (min-width: 0px) and (max-width:640px) {}
@media screen and (min-width: 641px) and (max-width:1200px) {}
@media screen and (min-width: 1201px) and (max-width:2000px) {}
*/
/*
    -webkit-animation: anname ease 1.5s infinite;
    -moz-animation: anname ease 1.5s infinite;
    -o-animation: anname ease 1.5s infinite;
    animation: anname ease 1.5s infinite;

@-webkit-keyframes anname {
    0% { -webkit-transform: ; }
    100% { -webkit-transform: ; }
}

@-moz-keyframes anname {
    0% { -moz-transform:; }
    100% { -moz-transform:; }
}
@-o-keyframes anname {
    0% { -o-transform:; }
    100% { -o-transform:; }
}
@keyframes anname {
    0% { transform:; }
    100% { transform:; }
}
*/
/*zindex*/
/*midtext*/
/*stext*/
/*btn*/
/*specify*/
/*keyframes*/
/*Responsive*/
/*radius*/
/*boxshadow*/
/*POS*/
/*SIZE*/
/*clearfix*/
/*changebg*/
/*animated-picandtxt*/
/*EX
-----html-----
<a href="/">
<span class="outer"><span class="inner">The animation is created using CSS3 transitions. Very useful.</span></span>
<img src="http://www.lukeharrison.net/wp-content/uploads/2014/02/screenshot_preview5.jpg" alt="Animated Image Caption" />
</a>
-----css-----
a {@include animated-caption(#ffffff, #333333, 0.75, 10px, 0.5s)}
*/
/*btnstyle*/
/* line 263, ../sass/screen.scss */
.btn {
  width: 100px;
  height: 30px;
  font: bold 15px/30px sans-serif;
  float: left;
  border: 1px solid #e8d86e;
  color: #e8d86e;
  background: rgba(0, 0, 0, 0.6);
  font-family: inherit;
  cursor: pointer;
  margin: 20px calc(50% - 50px);
  text-transform: uppercase;
  letter-spacing: 4px;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  text-decoration: none;
}

/* line 281, ../sass/screen.scss */
.btn:hover {
  border: 1px solid #FFF;
  color: #FFF;
  background: rgba(180, 12, 0, 0.3);
}

/*
@include POS(475px,75px);
@include css3(transition,all .7s);
@include css3(box-shadow,0px 0px 14px #ffffff);


*/
/* line 293, ../sass/screen.scss */
a {
  text-decoration: none;
}

/* line 296, ../sass/screen.scss */
li {
  list-style: none;
}

/* line 300, ../sass/screen.scss */
body {
  width: 100%;
  background: #2170ad;
  min-width: 1000px;
}

/* line 306, ../sass/screen.scss */
.wrapper {
  width: 100%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}

/* line 309, ../sass/screen.scss */
.wrapper-in {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

/* line 316, ../sass/screen.scss */
.topbanner .bar {
  width: 100%;
  min-width: 320px;
  height: 60px;
  background: rgba(0, 50, 70, 0.7);
  position: fixed;
  z-index: 99999;
  left: 0%;
  margin-left: 0;
}
/* line 326, ../sass/screen.scss */
.topbanner .bar span {
  font: bold 22px/60px sans-serif;
  font-family: Microsoft JhengHei;
  color: #ffffff;
  margin-left: 10px;
  display: inline-block;
}
/* line 333, ../sass/screen.scss */
.topbanner .common_bar > a {
  float: right;
  width: 45px;
  height: 45px;
  margin: 7px 5px;
  background: url(../images/ui_btn.png) no-repeat;
  cursor: pointer;
}
/* line 341, ../sass/screen.scss */
.topbanner .fb-top-mb {
  background-position: 0 0 !important;
}
/* line 342, ../sass/screen.scss */
.topbanner .line-top-mb {
  background-position: -45px 0 !important;
}
/* line 343, ../sass/screen.scss */
.topbanner .han-mb {
  background-position: -180px 0 !important;
  margin: 0 0 0 5px !important;
  width: 60px !important;
  height: 60px !important;
}
/* line 344, ../sass/screen.scss */
.topbanner .han-mb-list {
  width: 100%;
  height: 100%;
  background: rgba(0, 20, 30, 0.95);
  position: fixed;
  min-width: 320px;
}
/* line 345, ../sass/screen.scss */
.topbanner .han-mb-list-in {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-bottom: 100px;
  font: bold 20px/40px sans-serif;
  font-family: Microsoft JhengHei;
  letter-spacing: 1px;
  color: #ffd800;
  text-align: center;
}
/* line 348, ../sass/screen.scss */
.topbanner .han-mb-list-in a {
  color: #ffd800;
  cursor: pointer;
}
/* line 352, ../sass/screen.scss */
.topbanner .han-mb-list-in .listitem {
  padding-bottom: 5px;
  cursor: default;
}
/* line 356, ../sass/screen.scss */
.topbanner .han-mb-list-in > li {
  border-bottom: 2px solid #446172;
  color: #ffd800;
  font: normal 30px/60px sans-serif;
  font-family: Microsoft JhengHei;
  letter-spacing: 1px;
  clear: both;
}
/* line 363, ../sass/screen.scss */
.topbanner .han-mb-list-in > li > div > ul {
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  text-align: center;
}
/* line 368, ../sass/screen.scss */
.topbanner .han-mb-list-in > li > div > ul > a {
  color: #fff;
  border-right: 1px solid #fff;
  font: normal 20px/30px sans-serif;
  text-align: center;
  padding: 0px 10px;
  margin: 5px 0px;
  text-decoration: underline !important;
}
/* line 377, ../sass/screen.scss */
.topbanner .han-mb-list-in > li > div > ul > a:last-child {
  border-right: 0px solid #fff;
}
/* line 380, ../sass/screen.scss */
.topbanner .han-mb-list-in > li > div > ul > a > span {
  margin: 0;
  padding: 0;
}
/* line 383, ../sass/screen.scss */
.topbanner .han-mb-list-in .inlist-tietle {
  font: normal 20px/30px sans-serif;
  color: #ffeb80;
}
/* line 389, ../sass/screen.scss */
.topbanner .han-mb-ext {
  cursor: pointer;
  position: absolute;
  top: -60px;
  right: 0;
  background: url(../images/ui_btn.png) -240px 0 no-repeat;
  width: 60px;
  height: 60px;
}
/* line 390, ../sass/screen.scss */
.topbanner .top-list {
  position: relative;
  padding-top: 15px;
}
/* line 393, ../sass/screen.scss */
.topbanner .top-list .top-btn {
  position: relative;
  background: url(../images/ui_btn.png);
  width: 182px;
  height: 50px;
  cursor: pointer;
}
/* line 399, ../sass/screen.scss */
.topbanner .top-list .top-btn:after {
  content: "";
  position: absolute;
  width: 182px;
  height: 50px;
  top: 0;
  left: 0;
  background: url(../images/ui_btn.png);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
}
/* line 411, ../sass/screen.scss */
.topbanner .top-list .top-btn:hover:after {
  opacity: 1;
}
/* line 415, ../sass/screen.scss */
.topbanner .top-list .fb-top {
  background-position: -400px 0px;
}
/* line 417, ../sass/screen.scss */
.topbanner .top-list .fb-top:after {
  background-position: -400px -50px;
}
/* line 421, ../sass/screen.scss */
.topbanner .top-list .moeny-top {
  background-position: -90px 0px;
  width: 50px;
}
/* line 424, ../sass/screen.scss */
.topbanner .top-list .moeny-top:after {
  width: 50px;
  background-position: -90px -50px;
}
/* line 429, ../sass/screen.scss */
.topbanner .top-list > a {
  float: left;
  margin-left: 10px;
}
/* line 430, ../sass/screen.scss */
.topbanner .top-list > li {
  float: left;
  font: bold 20px/40px sans-serif;
  font-family: Microsoft JhengHei;
  letter-spacing: 1px;
  color: #ffffff;
  position: relative;
  text-decoration: none;
  margin-left: 10px;
  text-shadow: 1px 1px 3px #1b1b1b;
  cursor: pointer;
  text-align: center;
  width: 100px;
  height: 40px;
  overflow: hidden;
}
/* line 443, ../sass/screen.scss */
.topbanner .top-list > li > a {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  color: #ffffff;
}
/* line 446, ../sass/screen.scss */
.topbanner .top-list > li > a:hover {
  color: #ffd800;
}
/* line 448, ../sass/screen.scss */
.topbanner .top-list > li:hover {
  color: #ffd800;
  height: auto;
}
/* line 452, ../sass/screen.scss */
.topbanner .top-list > li .inlist ul {
  font-size: 15px;
  color: #fff;
}
/* line 455, ../sass/screen.scss */
.topbanner .top-list > li .inlist ul li {
  font: bolder 16px/30px sans-serif;
  font-family: Microsoft JhengHei;
  color: #4a2d0d;
}
/* line 456, ../sass/screen.scss */
.topbanner .top-list > li .inlist ul li a {
  color: #fff;
}
/* line 456, ../sass/screen.scss */
.topbanner .top-list > li .inlist ul li a:hover {
  color: #ffd800;
}
/* line 461, ../sass/screen.scss */
.topbanner .top-list .listitem {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  cursor: default;
}
/* line 466, ../sass/screen.scss */
.topbanner .top-list .listitem:hover {
  background: rgba(0, 0, 0, 0.4);
}
/* line 469, ../sass/screen.scss */
.topbanner .top-list .listitem ul {
  background: rgba(0, 0, 0, 0.3);
  margin-top: 3px;
}
/* line 472, ../sass/screen.scss */
.topbanner .top-list .listitem ul .inlist-tietle {
  background: rgba(0, 0, 0, 0.3);
  cursor: default;
}
/* line 473, ../sass/screen.scss */
.topbanner .top-list .listitem ul:hover {
  background: rgba(20, 130, 185, 0.5);
}

/* line 480, ../sass/screen.scss */
.mainbannerbk {
  position: relative;
  background: url(../images/maintopbanner.jpg) center fixed;
  height: 986px;
}
/* line 485, ../sass/screen.scss */
.mainbannerbk:after {
  content: "";
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 220px;
  position: absolute;
  bottom: 0;
}
/*
.topbanner .ios{
    margin-top: 30px;
}*/
/* line 493, ../sass/screen.scss */
.mainbannerbk .topbannerbar {
  z-index: 9999;
  position: absolute;
  bottom: 20px;
  padding-left: 60px;
}
/* line 498, ../sass/screen.scss */
.mainbannerbk .topbannerbar .qr {
  position: relative;
  width: 170px;
  height: 170px;
  float: left;
}
/* line 503, ../sass/screen.scss */
.mainbannerbk .topbannerbar .qr img {
  width: 100%;
}

/* line 509, ../sass/screen.scss */
.download {
  position: relative;
  width: 175px;
  float: left;
  margin: 0 10px;
}
/* line 514, ../sass/screen.scss */
.download > div {
  width: 175px;
  height: 50px;
  cursor: pointer;
  margin-bottom: 10px;
  background: url(../images/ui_btn.png);
}
/* line 520, ../sass/screen.scss */
.download > div:after {
  content: "";
  position: absolute;
  width: 175px;
  height: 50px;
  opacity: 0;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  background: url(../images/ui_btn.png);
}
/* line 521, ../sass/screen.scss */
.download > div:hover:after {
  opacity: 1;
}
/* line 523, ../sass/screen.scss */
.download .ios {
  background-position: -650px 0;
}
/* line 524, ../sass/screen.scss */
.download .ios:after {
  background-position: -650px -50px;
}
/* line 526, ../sass/screen.scss */
.download .apk {
  background-position: -825px 0;
}
/* line 527, ../sass/screen.scss */
.download .apk:after {
  background-position: -825px -50px;
}
/* line 528, ../sass/screen.scss */
.download .googleplay {
  background-position: -1000px 0;
}
/* line 529, ../sass/screen.scss */
.download .googleplay:after {
  background-position: -1000px -50px;
}

/* line 531, ../sass/screen.scss */
.fbbtn {
  position: absolute;
  right: 20px;
  top: 10px;
  opacity: .6;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}
/* line 537, ../sass/screen.scss */
.fbbtn:hover {
  opacity: 1;
}

/* line 541, ../sass/screen.scss */
.newsbanner {
  width: 465px;
  margin-left: 36px;
}

/* line 545, ../sass/screen.scss */
.news {
  width: 445px;
  margin-left: 20px;
}

/* line 549, ../sass/screen.scss */
.newssection {
  clear: both;
  overflow: hidden;
}

/* line 553, ../sass/screen.scss */
.newssection > .tietle {
  clear: both;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 10px;
  margin-bottom: 20px;
}

/* line 562, ../sass/screen.scss */
.newssection > .box {
  float: left;
}

/* line 565, ../sass/screen.scss */
.part-video {
  position: absolute;
  top: 455px;
}

/* line 569, ../sass/screen.scss */
.video {
  position: relative;
  width: 540px;
  left: 440px;
  height: 31rem;
  float: left;
  background: url(../images/youtube_bg.png) center center no-repeat;
  background-size: 100%;
  margin: 40px auto;
}

/* line 578, ../sass/screen.scss */
.video .youtubebox {
  width: 90%;
  margin: 60px auto 8px;
  position: relative;
  padding-bottom: 50%;
  /* 16:9 */
  border: 3px double #565656;
  height: 0;
}

/* line 584, ../sass/screen.scss */
.video .youtubebox > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 591, ../sass/screen.scss */
.video .video-list {
  width: 90%;
  height: 120px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.6);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin: 5px auto;
}

/* line 594, ../sass/screen.scss */
.video .video-list a {
  width: calc(50% - 15px);
  height: 2.5rem;
  float: left;
  border-bottom: 1px solid #2170ad;
  margin-right: 15px;
  font-size: .95rem;
  color: #004B84;
  line-height: 2.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 607, ../sass/screen.scss */
.video .video-list a:hover {
  color: #052246;
}

/*person*/
/* line 611, ../sass/screen.scss */
#personL {
  position: absolute;
  z-index: 333;
  margin-top: 1000px;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
  right: 85%;
  float: right;
  opacity: 0;
}

/* line 620, ../sass/screen.scss */
#personR {
  position: absolute;
  z-index: 333;
  margin-top: 1595px;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
  width: 20%;
  height: 604px;
  right: 0;
  opacity: 0;
}

/* line 630, ../sass/screen.scss */
#personL:before {
  content: url(../images/p_left.png);
}

/* line 633, ../sass/screen.scss */
#personR:before {
  content: url(../images/p_right.png);
}

/* line 636, ../sass/screen.scss */
.goL {
  right: 70% !important;
  opacity: 1 !important;
}

/* line 637, ../sass/screen.scss */
.goR {
  opacity: 1 !important;
  background-position: 5px top !important;
}

/*part-news*/
/* line 639, ../sass/screen.scss */
.part-news {
  background: url(../images/newsbk.jpg) center;
  height: 521px;
}

/*news---------------------------------*/
/* line 644, ../sass/screen.scss */
.newssection .news .title {
  width: 100%;
  height: 73px;
}

/* line 647, ../sass/screen.scss */
.newssection .news .title::before {
  content: " ";
  width: 50%;
  height: 73px;
  background: url(../images/m_title_index_news.png) left top no-repeat;
  float: left;
}

/* line 650, ../sass/screen.scss */
.newssection .news .title::after {
  content: " ";
  width: 50%;
  height: 73px;
  background: url(../images/m_title_index_news.png) right top no-repeat;
  float: right;
}

/* line 653, ../sass/screen.scss */
.newssection .news .newsbtn {
  width: 100%;
  height: 42px;
  margin: 15px auto;
  margin-top: 0;
}

/* line 656, ../sass/screen.scss */
.newsbtn a {
  width: 70px;
  height: 42px;
  margin-right: 3px;
  font: bold 0.95rem/42px sans-serif;
  font-family: Microsoft JhengHei;
  background: #3553a9;
  border: 1px solid #6381c7;
  text-align: center;
  color: #e7ffff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* line 666, ../sass/screen.scss */
.newsbtn a:hover {
  background: #0066cb;
  border: 1px solid #0092df;
  color: #fff;
}

/* line 671, ../sass/screen.scss */
.newsbtnnow {
  background: #0066cb !important;
  border: 1px solid #0092df !important;
  color: #fff !important;
}

/* line 677, ../sass/screen.scss */
.news ul.list {
  width: 100%;
  height: auto;
  margin-top: 55px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

/* line 683, ../sass/screen.scss */
.news ul.list li {
  width: 100%;
  height: 2.2rem;
  border-radius: 5px;
  background-color: #3553a9;
  margin: 5px 0;
  transition: all 0.5s ease;
}

/* line 686, ../sass/screen.scss */
.goT {
  margin-top: 0px !important;
  opacity: 1 !important;
}

/* line 688, ../sass/screen.scss */
.news ul.list li:hover {
  background-color: #21419d;
  color: #00ffff;
}

/* line 691, ../sass/screen.scss */
.top {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin: 8px;
  margin-top: 20px;
  font: bolder 16px/30px sans-serif;
  font-family: Microsoft JhengHei;
  color: #4a2d0d;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: #787169;
  text-align: center;
  cursor: pointer;
}
.bulletintop {
  background-color: #4071ff !important;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}


/* line 702, ../sass/screen.scss */
.top:hover {
  background-color: #0d4c7d !important;
}

/* line 703, ../sass/screen.scss */
.news ul.list li a {
  width: 100%;
  height: 2.2rem;
}

/* line 706, ../sass/screen.scss */
.news ul.list li a h4 {
  display: none;
}

/* line 709, ../sass/screen.scss */
.news ul.list li a p {
  float: left;
  height: 2.2rem;
  width: 70%;
  font-size: 1.05rem;
  line-height: 2.2rem;
  padding-left: 10px;
  color: #efefef;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 713, ../sass/screen.scss */
.news ul.list li a span {
  float: right;
  height: 2.2rem;
  width: 25%;
  font-size: 0.7rem;
  line-height: 2.2rem;
  padding-right: 15px;
  color: #ccc;
  text-align: right;
}

/* line 716, ../sass/screen.scss */
.news .more.trans-o-a {
  width: 122px;
  height: 41px;
  background: url(../images/btn_index_more.png) 0 0 no-repeat;
  display: block;
  margin: 20px auto;
}

/* line 719, ../sass/screen.scss */
.news .more.trans-o-a::before {
  width: 122px;
  height: 41px;
  background: url(../images/btn_index_more.png) no-repeat;
  background-position: 0px -43px;
}

/*part-2*/
/* line 723, ../sass/screen.scss */
.part-2 {
  background: url(../images/p2_bk.jpg) center bottom fixed;
  background-size: cover;
  height: 520px;
}

/* line 728, ../sass/screen.scss */
.storybox {
  clear: both;
  padding: 40px 0;
  width: 950px;
  z-index: 9999;
}
/* line 733, ../sass/screen.scss */
.storybox > div {
  position: relative;
  float: left;
  cursor: pointer;
  /*background: url(../images/ui_p2.png);
  @include css3(transition,all .1s);*/
}
/* line 739, ../sass/screen.scss */
.storybox > div:after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  background: url(../images/ui_p2.png);
}
/* line 740, ../sass/screen.scss */
.storybox > div:hover:after {
  width: 100%;
}
/* line 741, ../sass/screen.scss */
.storybox > div:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  background: url(../images/ui_p2.png);
}
/* line 742, ../sass/screen.scss */
.storybox > div:hover:before {
  width: 0%;
}
/* line 744, ../sass/screen.scss */
.storybox .storybox-big {
  width: 470px;
  height: 270px;
  margin-bottom: 10px;
}
/* line 749, ../sass/screen.scss */
.storybox .storybox-s {
  width: 310px;
  height: 165px;
}
/* line 753, ../sass/screen.scss */
.storybox .storybox1 {
  margin-right: 10px;
}
/* line 753, ../sass/screen.scss */
.storybox .storybox1:before {
  background-position: 0 0;
}
/* line 753, ../sass/screen.scss */
.storybox .storybox1:after {
  background-position: -500px 0;
}
/* line 754, ../sass/screen.scss */
.storybox .storybox2:before {
  background-position: 0 -280px;
}
/* line 754, ../sass/screen.scss */
.storybox .storybox2:after {
  background-position: -500px -280px;
}
/* line 755, ../sass/screen.scss */
.storybox .storybox3 {
  margin-right: 10px;
}
/* line 755, ../sass/screen.scss */
.storybox .storybox3:before {
  background-position: 0 -560px;
}
/* line 755, ../sass/screen.scss */
.storybox .storybox3:after {
  background-position: -500px -560px;
}
/* line 756, ../sass/screen.scss */
.storybox .storybox4 {
  margin-right: 10px;
}
/* line 756, ../sass/screen.scss */
.storybox .storybox4:before {
  background-position: 0 -730px;
}
/* line 756, ../sass/screen.scss */
.storybox .storybox4:after {
  background-position: -500px -730px;
}
/* line 757, ../sass/screen.scss */
.storybox .storybox5:before {
  background-position: 0 -900px;
}
/* line 757, ../sass/screen.scss */
.storybox .storybox5:after {
  background-position: -500px -900px;
}

/*part-3*/
/* line 760, ../sass/screen.scss */
.part-3 {
  background: url(../images/fbsharebk.png) repeat;
  height: 160px;
}

/* line 764, ../sass/screen.scss */
.sharebox {
  text-align: center;
  padding: 20px 116px;
}
/* line 767, ../sass/screen.scss */
.sharebox > div {
  position: relative;
  float: left;
  width: 255px;
  height: 120px;
  background: url(../images/linkbtn.png);
  cursor: pointer;
}
/* line 774, ../sass/screen.scss */
.sharebox > div:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
  background: url(../images/linkbtn.png);
}
/* line 775, ../sass/screen.scss */
.sharebox > div:hover:after {
  opacity: 1;
}
/* line 777, ../sass/screen.scss */
.sharebox .fb {
  background-position: 0 0;
}
/* line 777, ../sass/screen.scss */
.sharebox .fb:after {
  background-position: 0 -120px;
}
/* line 778, ../sass/screen.scss */
.sharebox .bh {
  background-position: -255px 0;
}
/* line 778, ../sass/screen.scss */
.sharebox .bh:after {
  background-position: -255px -120px;
}
/* 20160624*/
.sharebox .apkk {
  background-position: -510px 0;
}
.sharebox .apkk:after {
  background-position: -510px -120px;
}
/* line 780, ../sass/screen.scss */
.part-cr {
  background: #253e5a;
  height: 120px;
}

/*footer*/
/* line 782, ../sass/screen.scss */
.footer {
  width: 100%;
  height: 120px;
  overflow: hidden;
  background: #253e5a;
}

/* line 785, ../sass/screen.scss */
.footer .box {
  margin-top: 45px;
}

/* line 788, ../sass/screen.scss */
.chinesegamer {
  width: 260px;
  height: 41px;
  float: left;
  background: url(../images/logo_chinesegamer.png) 0 0 no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  margin-right: 15px;
}

/* line 792, ../sass/screen.scss */
.gameflier {
  width: 159px;
  height: 41px;
  float: left;
  background: url(../images/logo_gameflier.png) 0 0 no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  margin-right: 15px;
}

/* line 796, ../sass/screen.scss */
.g12 {
  width: 47px;
  height: 47px;
  float: left;
  background: url(../images/icon_g12.png) 0 0 no-repeat;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  margin-right: 15px;
}

/* line 800, ../sass/screen.scss */
.footer p {
  color: #ccc;
  font-size: 0.5rem;
  line-height: 15px;
}

/* line 803, ../sass/screen.scss */
.mb-show {
  display: none;
}

/*inpage*/
/* line 806, ../sass/screen.scss */
.inpagebannerbk {
  position: relative;
  height: 400px;
}

/* line 810, ../sass/screen.scss */
.inpagebk-1 {
  background: url(../images/inpagebanner_01.jpg) center;
}

/* line 813, ../sass/screen.scss */
.inpagebk-2 {
  background: url(../images/inpagebanner_02.jpg) center;
}

/* line 816, ../sass/screen.scss */
.inpagebk-3 {
  background: url(../images/inpagebanner_03.jpg) center;
}

/* line 819, ../sass/screen.scss */
.inpagebannerbk .logo {
  background: url("../images/logo.png");
  width: 300px;
  height: 200px;
  position: absolute;
  top: 100px;
  left: 150px;
  cursor: pointer;
}
/* line 823, ../sass/screen.scss */
.inpagebannerbk .logo:hover {
  background: url(../images/logo2.png);
}

/* line 825, ../sass/screen.scss */
.inpagebar {
  background: url(../images/inpage_tietle_bk.png) repeat;
  height: 130px;
  border-bottom: 15px solid #4c7398;
}
/* line 829, ../sass/screen.scss */
.inpagebar .inpage-tietlepic {
  position: absolute;
  bottom: 0;
  left: -60px;
}
/* line 834, ../sass/screen.scss */
.inpagebar .inpage-tietle {
  position: absolute;
  top: 15px;
  left: 100px;
}
/* line 836, ../sass/screen.scss */
.inpagebar .inpage-tietle img {
  width: 100%;
}
/* line 838, ../sass/screen.scss */
.inpagebar .inpage-back-out {
  position: absolute;
  right: 35px;
  top: 40px;
}
/* line 843, ../sass/screen.scss */
.inpagebar .inpage-back {
  width: 140px;
  height: 45px;
  border: 1px solid #2170ad;
  font: bold 20px/45px sans-serif;
  font-family: Microsoft JhengHei;
  letter-spacing: 1px;
  color: #fff;
  font-weight: normal;
  text-align: center;
  background: rgba(20, 60, 140, 0.3);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* line 855, ../sass/screen.scss */
.inpagebar .inpage-back img {
  position: relative;
  top: 8px;
}
/* line 859, ../sass/screen.scss */
.inpagebar .inpage-back:hover {
  background: rgba(0, 30, 100, 0.8);
  border: 1px solid #001d6f;
}

/* line 865, ../sass/screen.scss */
.inpageinf {
  background: url(../images/inpage_tietle_txt_outbk.png) repeat;
}
/* line 867, ../sass/screen.scss */
.inpageinf .inpageinfborder {
  background: url(../images/inpage_txt_bk.png) repeat;
  box-shadow: 0px 0px 25px #000;
  -webkit-box-shadow: 0px 0px 25px #000;
  -moz-box-shadow: 0px 0px 25px #000;
  -ms-border-radius: 0px 0px 25px #000;
  -o-box-shadow: 0px 0px 25px #000;
  overflow: hidden;
}
/* line 871, ../sass/screen.scss */
.inpageinf .inpageinfborder .inpageinfborder2 {
  border-bottom: solid 50px;
  border-top: solid 50px;
  border-image: url("../images/inpage_txtborder.png");
  border-image-slice: 210 210 fill;
  overflow: hidden;
  border-image-slice: 105 100;
  border-image-width: 105px;
}

/* line 882, ../sass/screen.scss */
.inpageinf-lpage {
  width: 72%;
  float: left;
  margin: 30px 30px 0px 50px;
  border-right: 1px solid #ccc;
}

/* line 883, ../sass/screen.scss */
.inpageinf-topbtn {
  width: 95%;
  margin: 0 auto 25px auto;
}
/* line 886, ../sass/screen.scss */
.inpageinf-topbtn a {
  width: calc(25% - 15px);
  height: 40px;
  margin-right: 3px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font: normal 16px/40px sans-serif;
  font-family: Microsoft JhengHei;
  background-color: #123e90;
  border: 1px solid #0081ed;
  color: #ccc;
  text-align: center;
  letter-spacing: 3px;
}
/* line 898, ../sass/screen.scss */
.inpageinf-topbtn a:hover {
  background: #0066cb;
  border: 1px solid #0092df;
  color: #fff;
}

/* line 905, ../sass/screen.scss */
.inpageinf-topbtn-now {
  background: #0066cb !important;
  border: 1px solid #0092df !important;
  color: #fff !important;
}

/* line 910, ../sass/screen.scss */
.inpageinf-rpage {
  display: block !important;
  float: left;
  width: 175px;
  height: auto;
  border: none;
  background-color: transparent;
  padding: 25px 0 100px 0;
  position: relative;
    -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
/* line 920, ../sass/screen.scss */
.inpageinf-rpage .load .qr img {
  width: 175px;
}
/* line 922, ../sass/screen.scss */
.inpageinf-rpage .load .download {
  margin: 10px 0px;
}

/* line 927, ../sass/screen.scss */
.inpage-topbanner-load {
  top: 240px;
  position: relative;
}
/* line 930, ../sass/screen.scss */
.inpage-topbanner-load .topbannerbar {
  padding-left: 0 !important;
}
/* line 931, ../sass/screen.scss */
.inpage-topbanner-load .download > div {
  margin-bottom: 3px;
}

/*news*/
/* line 935, ../sass/screen.scss */
.list-page {
  width: 95%;
}
/* line 937, ../sass/screen.scss */
.list-page li {
  width: 100%;
  margin: 5px 0;
  border-bottom: 1px solid #ccc;
}
/* line 941, ../sass/screen.scss */
.list-page li a {
  width: 100%;
  height: 45px;
  display: block;
}
/* line 944, ../sass/screen.scss */
.list-page li h4 {
  width: 2.5rem;
  height: 1.25rem;
  float: left;
  margin-right: 5px;
  position: relative;
  line-height: 1.0rem;
  margin-top: 0.6rem;
}
/* line 945, ../sass/screen.scss */
.list-page li h4:after {
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  left: 100%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.65rem;
}
/* line 946, ../sass/screen.scss */
.list-page li h4:before {
  content: "";
  color: #fff;
  font-size: .75rem;
  margin-left: 8px;
  letter-spacing: 2px;
}
/* line 948, ../sass/screen.scss */
.list-page li p {
  float: left;
  height: 2.2rem;
  width: 70%;
  font-size: 1.05rem;
  line-height: 2.5rem;
  padding-left: 10px;
  color: #000;
  display: block;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 951, ../sass/screen.scss */
.list-page li p:hover {
  color: #3553a9;
}
/* line 953, ../sass/screen.scss */
.list-page li span {
  float: right;
  height: 2.2rem;
  font-size: 0.8rem;
  line-height: 2.5rem;
  padding-right: 10px;
  color: #333;
  text-align: right;
}

/*newspage*/
/* line 959, ../sass/screen.scss */
.in-newspage {
  width: 95%;
}
/* line 961, ../sass/screen.scss */
.in-newspage li {
  width: 100%;
  margin: 5px 0;
  border-bottom: 1px solid #ccc;
}
/* line 965, ../sass/screen.scss */
.in-newspage li a {
  width: 100%;
  height: 45px;
  display: block;
}
/* line 968, ../sass/screen.scss */
.in-newspage li h4 {
  width: 2.5rem;
  height: 1.25rem;
  float: left;
  margin-right: 5px;
  position: relative;
  line-height: 1.0rem;
  margin-top: 0.6rem;
}
/* line 969, ../sass/screen.scss */
.in-newspage li h4:after {
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  left: 100%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.65rem;
}
/* line 970, ../sass/screen.scss */
.in-newspage li h4:before {
  content: "";
  color: #fff;
  font-size: .75rem;
  margin-left: 8px;
  letter-spacing: 2px;
}
/* line 972, ../sass/screen.scss */
.in-newspage li p {
  float: left;
  height: 2.2rem;
  width: 70%;
  font-size: 1.05rem;
  line-height: 2.5rem;
  padding-left: 10px;
  color: #000;
  display: block;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 976, ../sass/screen.scss */
.in-newspage li span {
  float: right;
  height: 2.2rem;
  font-size: 0.8rem;
  line-height: 2.5rem;
  padding-right: 10px;
  color: #333;
  text-align: right;
}

/*NEWS PAGE*/
/* line 982, ../sass/screen.scss */
.newspage-box {
  width: 72%;
  float: left;
  margin: 20px 30px 100px 50px;
  border-right: 1px solid #ccc;
}

/* line 983, ../sass/screen.scss */
.newspage-box .content {
  width: 95%;
  float: left;
  margin-top: 20px;
  line-height: 1.8rem;
}
.newspage-box .content table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 3px;
  border: #000 solid 1px;
}

.newspage-box .content table tbody tr {
  background-color: rgba(255, 255, 255, 0.5);
}
.newspage-box .content table tbody tr td{
  padding: 2px 5px;
}
.newspage-box .content table tbody tr:nth-child(1) {
  background-color: rgb(210, 40, 0);
  color: #fff;
}


/*NEWS PAGE TITLe*/
/* line 986, ../sass/screen.scss */
.newspage-box ul.list-page li {
  display: inline-block;
}

/* line 989, ../sass/screen.scss */
.newspage-box ul.list-page li p {
  width: 100%;
  height: auto;
  font-size: 1.25rem;
  padding: 10px 0;
  font-weight: 800;
  line-height: 1.5rem;
  color: #003399;
  white-space: normal;
}

/* line 994, ../sass/screen.scss */
.newspage-box ul.list-page li span {
  float: left;
  font-size: 0.7rem;
  margin: 0px 0 0 12px;
  position: absolute;
  /*top:58px;left:110px;*/
}

/* line 998, ../sass/screen.scss */
.newspage-box .content img {
  width: 100%;
  margin: 5px;
  height: auto;
}

/* line 999, ../sass/screen.scss */
.newspage-box .content ul {
  padding-left: 20px;
  margin: 10px 0;
}

/* line 1000, ../sass/screen.scss */
.newspage-box .content ul > li {
  list-style: disc;
}

/* line 1001, ../sass/screen.scss */
.newspage-box .content ol {
  padding-left: 20px;
  margin: 10px 0;
}

/* line 1002, ../sass/screen.scss */
.newspage-box .content ol > li {
  list-style: decimal;
}

/*hero page*/
/* line 1005, ../sass/screen.scss */
.inpage-listbtn {
  margin-bottom: 15px;
  text-align: center;
}
/* line 1008, ../sass/screen.scss */
.inpage-listbtn .inpage-listbtn-on {
  background: #0d4c7d;
}
/* line 1011, ../sass/screen.scss */
.inpage-listbtn li {
  width: calc(33% - 8px);
  margin: 2px;
  font: bolder 16px/30px sans-serif;
  font-family: Microsoft JhengHei;
  color: #4a2d0d;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: #787169;
  color: #fff;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}
/* line 1022, ../sass/screen.scss */
.inpage-listbtn li:hover {
  background: #0d4c7d;
}

/* line 1028, ../sass/screen.scss */
.hero-inf {
  background: url(../images/heropageinf_bk.png) center;
  background-size: cover;
  width: 98%;
  border-top: 2px solid #c5bcb0;
  border-bottom: 2px solid #c5bcb0;
  padding: 15px 0;
}
/* line 1036, ../sass/screen.scss */
.hero-inf .hero-inf-g1 {
  overflow: hidden;
  clear: both;
}
/* line 1039, ../sass/screen.scss */
.hero-inf .hero-inf-g1 div {
  float: left;
}
/* line 1042, ../sass/screen.scss */
.hero-inf .hero-inf-g1 .hero-inf-p1 {
  text-align: center;
  margin-left: 20px;
}
/* line 1046, ../sass/screen.scss */
.hero-inf .hero-inf-g1 .hero-inf-p2 {
  margin-top: 10px;
  margin-left: 10px;
}
/* line 1049, ../sass/screen.scss */
.hero-inf .hero-inf-g1 .hero-inf-p2 ul {
  font: bolder 18px/18px sans-serif;
  font-family: Microsoft JhengHei;
  width: 100%;
  clear: both;
  color: #084d75;
  padding: 5px 0;
}
/* line 1056, ../sass/screen.scss */
.hero-inf .hero-inf-g1 .hero-inf-p2 ul span {
  margin: 0 10px;
  float: left;
}
/* line 1060, ../sass/screen.scss */
.hero-inf .hero-inf-g1 .hero-inf-p2 ul li {
  width: 410px;
  float: right;
}
/* line 1063, ../sass/screen.scss */
.hero-inf .hero-inf-g1 .hero-inf-p2 ul li span {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  background: #003258;
  text-indent: -999px;
}
/* line 1068, ../sass/screen.scss */
.hero-inf .hero-inf-g1 .hero-inf-p2 ul li .widthnone {
  width: 0 !important;
}
/* line 1075, ../sass/screen.scss */
.hero-inf .hero-inf-g2 {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  font: bolder 16px/20px sans-serif;
  font-family: Microsoft JhengHei;
  color: #fff;
  background: #084d75;
  margin: -65px 30px 0 30px;
  padding: 30px;
  padding-top: 50px;
  padding-bottom: 1px;
}
/* line 1085, ../sass/screen.scss */
.hero-inf .hero-inf-g2 .hero-close {
  position: relative;
  top: -40px;
  float: right;
  cursor: pointer;
}
/* line 1091, ../sass/screen.scss */
.hero-inf .hero-inf-g2 .hero-inf-p3 {
  margin: 20px 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 10px;
}
/* line 1097, ../sass/screen.scss */
.hero-inf .hero-inf-g2 .hero-inf-p4 {
  clear: both;
  font-size: 20px;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
}
/* line 1103, ../sass/screen.scss */
.hero-inf .hero-inf-g2 .hero-inf-p4 li {
  float: left;
  width: 50%;
}
/* line 1106, ../sass/screen.scss */
.hero-inf .hero-inf-g2 .hero-inf-p4 li span {
  width: 30%;
  float: left;
}
/* line 1110, ../sass/screen.scss */
.hero-inf .hero-inf-g2 .hero-inf-p4 li p {
  width: 70%;
  float: left;
}
/* line 1116, ../sass/screen.scss */
.hero-inf .hero-inf-g2 .hero-inf-p5 {
  margin: 20px 0;
  font: bolder 16px/20px sans-serif;
  font-family: Microsoft JhengHei;
}
/* line 1120, ../sass/screen.scss */
.hero-inf .hero-inf-g2 .hero-inf-p5 table {
  border-collapse: separate;
  border-spacing: 2px !important;
}
/* line 1123, ../sass/screen.scss */
.hero-inf .hero-inf-g2 .hero-inf-p5 table tr {
  background-color: #002763;
}
/* line 1125, ../sass/screen.scss */
.hero-inf .hero-inf-g2 .hero-inf-p5 table tr td {
  padding: 5px 10px;
}
/* line 1131, ../sass/screen.scss */
.hero-inf .hero-inf-g2 .hero-inf-p5 .table-tietle {
  background: #003679;
  text-align: center;
  font: bolder 20px/35px sans-serif;
  letter-spacing: 25px;
  font-family: Microsoft JhengHei;
}

/* line 1142, ../sass/screen.scss */
.hero-icon {
  overflow: hidden;
  clear: both;
}
/* line 1145, ../sass/screen.scss */
.hero-icon li {
  float: left;
  margin: 5px;
  width: calc(25% - 15px);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: #838383;
  cursor: pointer;
}
/* line 1153, ../sass/screen.scss */
.hero-icon li img {
  width: 100%;
}
/* line 1156, ../sass/screen.scss */
.hero-icon li:hover {
  background: #0b55a2;
}
/* line 1160, ../sass/screen.scss */
.hero-icon .hero-icon-on {
  background: #084d75 !important;
}

/* line 1162, ../sass/screen.scss */
.instorybox {
  text-align: center;
  font: bolder 16px/30px sans-serif;
  font-family: Microsoft JhengHei;
  color: #4a2d0d;
  padding: 0 5%;
}
/* line 1166, ../sass/screen.scss */
.instorybox .instorytxt {
  margin-bottom: 20px;
  border-bottom: #a9a9a9 dashed 1px;
}

/* line 1171, ../sass/screen.scss */
.inplaytxt {
  margin-bottom: 20px;
  text-align: left;
}
/* line 1174, ../sass/screen.scss */
.inplaytxt strong {
  color: #006979;
}

/* line 1178, ../sass/screen.scss */
.imgtxt {
  margin-top: -10px;
  margin-bottom: 10px;
  color: #920000;
}

/* line 1183, ../sass/screen.scss */
.inpageline {
  font-size: 14px;
  margin-bottom: 20px;
  border-bottom: #a9a9a9 dashed 1px;
}

/* line 1188, ../sass/screen.scss */
.inplaytietle {
  text-align: center;
  font-size: 26px;
  color: #005998;
  border-top: #a9a9a9 dashed 1px;
  padding-top: 30px;
}

/* line 1196, ../sass/screen.scss */
.lawbox {
  font: 16px/30px sans-serif;
  font-family: Microsoft JhengHei;
  color: #4a2d0d;
  padding: 0 5%;
}
/* line 1201, ../sass/screen.scss */
.lawbox table {
  border-collapse: separate;
  border-spacing: 3px;
  border: #000 solid 1px;
}
/* line 1206, ../sass/screen.scss */
.lawbox table tbody tr {
  background-color: rgba(255, 255, 255, 0.5);
}
/* line 1211, ../sass/screen.scss */
.lawbox strong {
  font-size: 20px;
  color: #005998;
  font-weight: 600;
}

/* line 1217, ../sass/screen.scss */
.lawtietle {
  text-align: center;
  font: bolder 26px/35px sans-serif;
  font-family: Microsoft JhengHei;
  color: #005998;
}

/*tiropage*/
/* line 1224, ../sass/screen.scss */
.intirobox {
  max-width: 650px;
  margin: 0 auto;
  overflow: hidden;
  font: bolder 16px/30px sans-serif;
  font-family: Microsoft JhengHei;
  color: #4a2d0d;
  padding: 0 5%;
}
/* line 1230, ../sass/screen.scss */
.intirobox .tiro-btn {
  width: 100%;
  height: 150px;
  border: solid 20px;
  border-image: url("../images/tiro_border.png");
  overflow: hidden;
  border-image-slice: 45;
  border-image-width: 30px;
  float: left;
  cursor: pointer;
  margin: 5px 0;
}
/* line 1241, ../sass/screen.scss */
.intirobox .tiro-btn img {
  height: 100%;
  position: relative;
  left: -30px;
}
/* line 1247, ../sass/screen.scss */
.intirobox .tiro-btns {
  width: calc(50% - 5px);
}
/* line 1250, ../sass/screen.scss */
.intirobox .tiro-btnl {
  margin-right: 10px;
}
/* line 1253, ../sass/screen.scss */
.intirobox .tiro-bk1 {
  background: url(../images/tiro/tiro_01.jpg) center;
}
/* line 1254, ../sass/screen.scss */
.intirobox .tiro-bk2 {
  background: url(../images/tiro/tiro_02.jpg) center;
}
/* line 1255, ../sass/screen.scss */
.intirobox .tiro-bk3 {
  background: url(../images/tiro/tiro_03.jpg) center;
}
/* line 1256, ../sass/screen.scss */
.intirobox .tiro-bk4 {
  background: url(../images/tiro/tiro_04.jpg) center;
}
/* line 1257, ../sass/screen.scss */
.intirobox .tiro-bk5 {
  background: url(../images/tiro/tiro_05.jpg) center;
}
/* line 1258, ../sass/screen.scss */
.intirobox .tiro-bk6 {
  background: url(../images/tiro/tiro_06.jpg) center;
}
/* line 1259, ../sass/screen.scss */
.intirobox .tiro-bk7 {
  background: url(../images/tiro/tiro_07.jpg) center;
}
/* line 1260, ../sass/screen.scss */
.intirobox .tiro-bk8 {
  background: url(../images/tiro/tiro_08.jpg) center;
}
/* line 1261, ../sass/screen.scss */
.intirobox .tiro-bk9 {
  background: url(../images/tiro/tiro_09.jpg) center;
}

@media screen and (max-width: 1300px) {
  /* line 1269, ../sass/screen.scss */
  #personL, #personR {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  /* line 1272, ../sass/screen.scss */
  .pc-show {
    display: none !important;
  }

  /* line 1273, ../sass/screen.scss */
  .mb-show {
    display: block;
  }

  /* line 1274, ../sass/screen.scss */
  body {
    min-width: 320px;
  }

  /* line 1275, ../sass/screen.scss */
  .wrapper {
    width: auto;
  }

  /* line 1276, ../sass/screen.scss */
  .wrapper-in {
    width: 70%;
  }

  /* line 1277, ../sass/screen.scss */
  .mainbannerbk {
    height: 660px;
    background: url(../images/maintopbanner_s.jpg) center fixed;
  }

  /* line 1278, ../sass/screen.scss */
  .mainbannerbk:after {
    height: 0;
  }

  /* line 1279, ../sass/screen.scss */
  .qr {
    display: none;
  }

  /* line 1280, ../sass/screen.scss */
  .topbannerbar {
    padding-left: calc(50% - 87.5px) !important;
    bottom: 5px !important;
  }

  /* line 1281, ../sass/screen.scss */
  .newsbanner {
    width: 100%;
  }

  /* line 1282, ../sass/screen.scss */
  .part-video {
    position: static;
    background: url(../images/videobk_s.jpg) center;
    background-size: 100% 100%;
  }

  /* line 1283, ../sass/screen.scss */
  .video {
    width: 100%;
    height: 100%;
    left: 0;
    background: none;
    border: solid 1px;
    border-image: url("../images/youtube_bg.png");
    border-image-slice: 1 1 fill;
    background-size: contain;
    padding-bottom: 10px;
  }

  /* line 1288, ../sass/screen.scss */
  .part-news {
    height: auto;
    background: url(../images/newsbk_s.jpg) center;
    background-size: 100% 100%;
  }

  /* line 1289, ../sass/screen.scss */
  .news {
    width: 100%;
    margin-left: 0px;
  }

  /* line 1290, ../sass/screen.scss */
  .newsbanner {
    margin: 0;
    padding-top: 20px;
  }

  /* line 1291, ../sass/screen.scss */
  .part-2 {
    height: auto;
  }

  /* line 1292, ../sass/screen.scss */
  .part-3 {
    height: auto;
  }

  /* line 1293, ../sass/screen.scss */
  .sharebox {
    padding: 20px 0;
    margin: 0 auto;
    width: 255px !important;
  }

  /* line 1294, ../sass/screen.scss */
  .storybox > img {
    width: 100%;
    margin: 4px auto;
    cursor: pointer;
  }

  /* line 1295, ../sass/screen.scss */
  .part-cr {
    height: auto;
  }

  /* line 1296, ../sass/screen.scss */
  .footer {
    width: 100%;
    height: auto;
  }

  /* line 1297, ../sass/screen.scss */
  .footer .box {
    margin: 25px auto;
    text-align: center;
  }

  /* line 1298, ../sass/screen.scss */
  .chinesegamer {
    width: 200px;
    height: 41px;
    float: none;
    display: inline-block;
    background-size: 100% auto;
    margin-right: 15px;
  }

  /* line 1299, ../sass/screen.scss */
  .gameflier {
    width: 145px;
    height: 41px;
    float: none;
    display: inline-block;
    background-size: 100% auto;
    margin-right: 15px;
  }

  /* line 1300, ../sass/screen.scss */
  .g12 {
    width: 47px;
    height: 47px;
    float: none;
    display: inline-block;
    background-size: 100% auto;
    margin-right: 15px;
  }

  /* line 1301, ../sass/screen.scss */
  .footer p {
    color: #ccc;
    font-size: 0.7rem;
    line-height: 1rem;
    text-align: center;
    display: inline-block;
    width: 90%;
  }

  /*inpage*/
  /* line 1303, ../sass/screen.scss */
  .inpageinf-lpage {
    width: 100%;
    float: none;
    margin: 20px auto;
    border-right: none;
  }

  /* line 1304, ../sass/screen.scss */
  .logo {
    width: 180px !important;
    height: 120px !important;
    left: 0 !important;
    background-size: 180px !important;
    top: 130px !important;
    left: 20px !important;
  }

  /* line 1305, ../sass/screen.scss */
  .inpagebannerbk {
    background-position: 60% 0;
  }

  /* line 1306, ../sass/screen.scss */
  .inpagebk-3 {
    background-position: 50% 0;
  }

  /* line 1307, ../sass/screen.scss */
  .inpagebar .wrapper-in {
    width: 100%;
  }

  /*news*/
  /* line 1309, ../sass/screen.scss */
  .inpageinfborder {
    width: 95%;
  }

  /* line 1310, ../sass/screen.scss */
  .list-page {
    margin: 0 auto;
  }

  /* line 1311, ../sass/screen.scss */
  .inpageinf-topbtn a {
    width: calc(25% - 3px);
    margin-right: 0px;
  }

  /*newspage*/
  /* line 1313, ../sass/screen.scss */
  .newspage-box {
    width: 94%;
    float: none;
    margin: 20px auto;
    border-right: none;
  }

  /* line 1314, ../sass/screen.scss */
  .newspage-box .content {
    width: 100%;
    float: left;
    margin: 20px 0 100px 0;
    line-height: 1.8rem;
  }

  /* line 1315, ../sass/screen.scss */
  .newspage-box .content img {
    width: 100%;
    margin: 5px auto;
    height: auto;
  }


  /*hero*/
  /* line 1317, ../sass/screen.scss */
  .inpage-listbtn {
    margin-left: 10px;
  }

  /* line 1318, ../sass/screen.scss */
  .inpageinfborder2 {
    border-image: none !important;
    border-bottom: solid 0px !important;
    border-top: solid 0px !important;
  }

  /* line 1319, ../sass/screen.scss */
  .hero-icon li {
    width: calc(33% - 11px);
  }
}
@media screen and (max-width: 800px) {
  /* line 1322, ../sass/screen.scss */
  .wrapper-in {
    width: 80%;
  }

  /* line 1323, ../sass/screen.scss */
  .video {
    margin: 20px auto;
  }

  /* line 1324, ../sass/screen.scss */
  .inpageinfborder {
    width: 95%;
  }

  /*inpage*/
  /* line 1326, ../sass/screen.scss */
  .inpage-tietle {
    bottom: 0 !important;
    top: auto !important;
    left: 0 !important;
  }

  /* line 1327, ../sass/screen.scss */
  .inpage-back-out {
    right: 10px !important;
    top: 10px !important;
  }

  /* line 1328, ../sass/screen.scss */
  .inpage-tietlepic {
    display: none;
  }

  /*hero*/
  /* line 1330, ../sass/screen.scss */
  .hero-inf {
    margin: 0 auto;
  }

  /* line 1331, ../sass/screen.scss */
  .hero-p1 {
    width: 100% !important;
  }

  /* line 1332, ../sass/screen.scss */
  .hero-inf-g2 {
    margin: -168px 10px 0 10px !important;
    padding: 50px 10px 1px 10px !important;
  }
  /* line 1332, ../sass/screen.scss */
  .hero-inf-g2 .hero-inf-p3 {
    margin-top: 150px !important;
  }

  /* line 1333, ../sass/screen.scss */
  .hero-inf-p2 {
    margin: 10px auto 0 auto !important;
    width: 80% !important;
  }
  /* line 1333, ../sass/screen.scss */
  .hero-inf-p2 ul span {
    color: #fff;
    text-align: center;
    width: 20%;
    margin: 0 !important;
  }
  /* line 1334, ../sass/screen.scss */
  .hero-inf-p2 ul li {
    width: 80% !important;
    background: #001f4e;
  }
  /* line 1334, ../sass/screen.scss */
  .hero-inf-p2 ul li span {
    background: #ffc238 !important;
  }

  /* line 1336, ../sass/screen.scss */
  .hero-inf-g1 div {
    float: none !important;
  }

  /*story*/
  /* line 1338, ../sass/screen.scss */
  .instorybox img {
    width: 100%;
  }

  /*tiro*/
  /* line 1340, ../sass/screen.scss */
  .tiro-btns {
    width: 100% !important;
  }
}
@media screen and (max-width: 700px) {
  /* line 1343, ../sass/screen.scss */
  .video {
    margin: 10px auto;
  }

  /* line 1344, ../sass/screen.scss */
  .hero-icon li {
    width: calc(33% - 9px);
  }
}
@media screen and (max-width: 600px) {
  /* line 1347, ../sass/screen.scss */
  .wrapper-in {
    width: 95%;
  }

  /* line 1348, ../sass/screen.scss */
  .inpageinfborder {
    width: 100%;
  }

  /* line 1349, ../sass/screen.scss */
  .mainbannerbk {
    background: url(../images/maintopbanner_ss.jpg) center fixed;
  }

  /* line 1350, ../sass/screen.scss */
  .video .video-list a {
    width: calc(100% - 15px);
  }

  /* line 1351, ../sass/screen.scss */
  .video {
    margin: 5px auto;
  }

  /* line 1352, ../sass/screen.scss */
  .inpagebannerbk {
    background-position: 65% 0;
  }

  /* line 1353, ../sass/screen.scss */
  .inpagebk-2 {
    background-position: 55% 0;
  }

  /* line 1354, ../sass/screen.scss */
  .inpagebk-3 {
    background-position: 48% 0;
  }

  /*hero*/
  /* line 1356, ../sass/screen.scss */
  .inpage-listbtn li {
    width: calc(50% - 8px);
  }

  /* line 1357, ../sass/screen.scss */
  .hero-icon li {
    width: calc(50% - 10px);
  }

  /* line 1358, ../sass/screen.scss */
  .hero-inf-p4 {
    width: 100% !important;
    font-size: 15px !important;
  }

  /*story*/
  /* line 1360, ../sass/screen.scss */
  .instorybox img {
    width: 100%;
  }

  /* line 1361, ../sass/screen.scss */
  .lawbox {
    padding: 0 3%;
  }
}
@media screen and (max-width: 400px) {
  /* line 1364, ../sass/screen.scss */
  .wrapper-in {
    min-width: 320px;
  }

  /* line 1365, ../sass/screen.scss */
  .newssection .tietle img {
    width: 100%;
  }

  /* line 1366, ../sass/screen.scss */
  .sharebox {
    width: 300px !important;
  }

  /* line 1367, ../sass/screen.scss */
  .sharebox > div {
    width: 200px;
	margin:0 auto;
	float:none;
    height: 95px;
    background-size: 600px 190px;
  }
  /* line 1368, ../sass/screen.scss */
  .sharebox > div:after {
    background-size: 600px 190px;
  }

  /* line 1370, ../sass/screen.scss */
  .fb {
    background-position: 0 0 !important;
  }
  /* line 1370, ../sass/screen.scss */
  .fb:after {
    background-position: 0 -95px !important;
  }

  /* line 1371, ../sass/screen.scss */
  .bh {
    background-position: -200px 0 !important;
  }
  /* line 1371, ../sass/screen.scss */
  .bh:after {
    background-position: -200px -95px !important;
  }
   .apkk {
    background-position: -400px 0 !important;
  }

  .apkk:after {
    background-position: -400px -95px !important;
  } 


  /* line 1373, ../sass/screen.scss */
  .list-page li p {
    width: 60%;
  }

  /*hero*/
  /* line 1375, ../sass/screen.scss */
  .inpage-listbtn li {
    width: calc(100% - 8px);
  }
}
