/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "reset.css";



/*
@include POS(475px,75px);
@include css3(transition,all 1s ease);
@include css3(box-shadow,0px 0px 14px #ffffff);
@include css3(border-radius,20px);
border: 2px solid #6d4b00;
left: calc(50% - 82.5px);


.tablestyle{
    table{
        margin: 0 auto;
        border-collapse: separate;
        border-spacing: 2px!important;
        font-size: 16px;
        line-height:1.5;
    }
    table tr td{
        text-align: center;
        padding: 5px;
    }
    table tr:nth-child(odd) {
          background-color: rgba(76, 46, 0, 0.17);
        }
        span{
            @include midtext();
            font-size: 23px;
        }
}
*/



/*
@include css3(transition,all 1s ease);
@include css3(animation,opacitylight 2s infinite linear);
@include keyframes(opacitylight) {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
*/

/*
@media screen and (min-width: 0px) and (max-width:640px) {}
@media screen and (min-width: 641px) and (max-width:1200px) {}
@media screen and (min-width: 1201px) and (max-width:2000px) {}
*/







/*zindex*/

@mixin zindex() {
    z-index: 999;
}


/*midtext*/

@mixin midtext() {
    font: bold 20px/40px sans-serif;
    font-family: Microsoft JhengHei;
    letter-spacing: 1px;
}


/*stext*/

@mixin stext() {
    font: bolder 14px/15px sans-serif;
    font-family: Microsoft JhengHei;
    color: #fff;
}
/*btn*/

@mixin btntext() {
    font: bolder 25px/45px sans-serif;
    font-family: Microsoft JhengHei;
}


/*specify*/

@mixin css3($property, $value) {
    @each $prefix in -webkit-,
    -moz-,
    -ms-,
    -o-,
    '' {
        #{$prefix}#{$property}: $value;
    }
}


/*keyframes*/

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}


/*Responsive*/

@mixin Responsive($point) {
    @if $point==large {
        @media (min-width: 2000px) {
            @content;
        }
    }
    @else if $point==medium {
        @media (min-width: 1200em) {
            @content;
        }
    }
    @else if $point==small {
        @media (min-width: 640em) {
            @content;
        }
    }
}

@mixin range-width-in( $min: 0, $max: 0){
    @if $max == 0{
        @media screen and (min-width: $min){
            @content;
        }
    }@else{
        @media screen and (min-width: $min) and (max-width: $max){
            @content;
        }
    }
}


/*radius*/

@mixin border-radius($angle) {
    border-radius: $angle;
    -webkit-border-radius: $angle;
    -moz-border-radius: $angle;
    -ms-border-radius: $angle;
    -o-border-radius: $angle;
}


/*boxshadow*/

@mixin boxshadow($shx, $shy, $shblur, $shcolor) {
    box-shadow: $shx $shy $shblur $shcolor;
    -webkit-box-shadow: $shx $shy $shblur $shcolor;
    -moz-box-shadow: $shx $shy $shblur $shcolor;
    -ms-border-radius: $shx $shy $shblur $shcolor;
    -o-box-shadow: $shx $shy $shblur $shcolor;
}


/*POS*/

@mixin POS($top, $left) {
    position: absolute;
    top: $top;
    left: $left;
}


/*SIZE*/

@mixin SIZE($width, $height) {
    width: $width;
    height: $height;
}


/*clearfix*/

@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}


/*changebg*/

@mixin bg($name, $bg) {
    background: url("../images/#{$name}.#{$bg}");
    width: image-width("../images/#{$name}.#{$bg}");
    height: image-height("../images/#{$name}.#{$bg}");
}


/*animated-picandtxt*/

a{
    text-decoration: none;
}
li {
    list-style: none;
}

body {
    width: 100%;
    background: #fff;
    min-width: 1000px;
    min-height: 800px;
    font: normal 14px/18px "Microsoft JhengHei";
    color: #000;
}

.wrapper {
    position: relative;
    width:100%;
    height:100%;
    margin:0 auto;
    overflow:hidden;
    min-width: 1000px;
    >.cloud ,.content{
        min-width: 1000px;
    }
}
.backrepeat{
    background: url(../images/bg.jpg) repeat-x top center;
    //background-size: cover;
    //@include css3(transition,all 1s ease);
    @include css3(animation,Animation_bg 200s infinite linear);
}
.backrepeat-fast{
    @include css3(animation,Animation_bg .6s infinite cubic-bezier(.47,-0.56,.6,1.34));
}
@include keyframes(Animation_bg) {
    0%  {background-position: -1000px;}
    100%  {background-position: -5000px;}
}
.wrapper-in{
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
/*cloud*/
.cloud{
    position: absolute;
    text-align: center;
    background: url(../images/cloud.png) repeat-x center;
    width: 100%;
    height: 450px;
    margin: 0 auto;
    bottom:0;
    z-index: 5;
    @include css3(transition,all 1s ease);
    @include css3(animation,cssAnimation_c 20s infinite linear);
}
.cloud-fast{
    @include css3(animation,cssAnimation_c 1s infinite cubic-bezier(.47,-0.56,.6,1.34));
}
@include keyframes(cssAnimation_c) {
    0%  {background-position: 0%;opacity: .3;}
    50%  {background-position: 500px;opacity: .8;}
    100%  {background-position: 1000px;opacity: .3;}
}

nav{
    background: rgba(255,255,255,.8);
    width: 100%;
    height: 85px;
    border-top: 5px solid #00285e;
    border-bottom: 1px solid #1f2f45;
    z-index: 10;
    position: relative;
    .wrapper-in{
        .logo{
            float: left;
            img{    
                padding-top: 3px;
                vertical-align: middle;
            }
        } 
        ul{
            float: left;
            margin-left:10px; 
            .active{
                div{
                    color: #fff;
                    background: #1f2f45!important;
                    &:after{
                        width: 10px;
                        height: 10px;
                        background: #fff;
                        border: 5px solid #1f2f45;
                        left:calc( 50% - 10px);
                        bottom: -10px;
                    }
                }
            }
            .sp{
                div{
                    color: #fff;
                    background: #ad0000!important;
                }
            }
            a{
                div{
                    float: left;
                    font-size: 16px;
                    line-height: 85px;
                    padding: 0 20px;
                    color: #000;
                    position: relative;
                    @include css3(transition,all .3s ease);
                    &:hover{
                        background: rgba(255,255,255,1);
                        &:after{
                            width: 10px;
                            height: 10px;
                            background: #fff;
                            border: 5px solid #1f2f45;
                            left:calc( 50% - 10px);
                            bottom: -10px;
                        }
                    }
                    &:after{
                        content: "";
                        width: 16px;
                        height: 16px;
                        position: absolute;
                        @include css3(border-radius,100%);
                        background: #1f2f45;
                        left:calc( 50% - 8px);
                        bottom: -8px;
                        @include css3(transition,all .2s ease);
                        border: 0px solid #1f2f45;
                    }
                }
            }
        }
    }
}
.rigthbtn{
    position: absolute;
    right: 0;
    top:120px;
    @include css3(border-radius,5px 0 0 5px);
    background: #fff;
    padding: 10px 20px;
    min-width: initial;
    z-index: 10;
    a{
        color: #000;
        &:hover{
            text-decoration: underline;
        }
    }
}
.slogan{
    z-index: 9;
    position: absolute;
    text-align: center;
    width: 100%;
    top:218px;
    opacity: 1;
    @include css3(transition, all .8s ease 1s);
}
.slogan-out{
    opacity: 0;
    @include css3(transition, all .5s ease );
}
.txtbg{
    height: 2000px;
    background: #ad0000;
    position: absolute;
    top:-605px;
    @include css3(transform,rotate(20deg));
    @include css3(transition,all .3s ease .7s);
}
.sloganbg{
    width: 380px;
    left: calc(50% - 190px);
}
.txtbg-out{
    left: 50%;
    width: 0;
}
.sloganbg-inpage{
    width: 300px;
    left: calc(50% - 550px);
    background: #1f2f45;
    @include css3(transition,all .5s ease );
    @include css3(transform,rotate(10deg));
}
.peo{
    position: absolute;
    z-index: 4;
    bottom: -150px;
    @include css3(transition,all .5s ease);
    opacity: 1;
}
.peo-out.peo1,.peo-out.peo3,.peo-out.peo5{
    left:-200%!important;
     opacity: 0;
}
.peo-out.peo2,.peo-out.peo4,.peo-out.peo6{
    left:100%!important;
     opacity: 0;
}
.peo1{
    left: calc(50% - 1250px);
    transition-delay:.2s;
}
.peo1.peo-inpage{
    left: calc(50% - 1450px);
}
.peo2{
    left: calc(50% - 1000px);
}
.peo2.peo-inpage{
    left: calc(50% - 800px);
}
.peo3{
    left: calc(50% - 1000px);
}
.peo3.peo-inpage{
    left: calc(50% - 800px);
}
.peo4{
    left: calc(50% - 1700px);
    transition-delay:.2s;
    bottom: -200px;
}
.peo4.peo-inpage{
    left: calc(50% - 1900px);
}
.peo5{
    left: calc(50% - 1350px);
    bottom: -100px;
}
.peo5.peo-inpage{
    left: calc(50% - 1550px);
}
.peo6{
    left: calc(50% - 100px);
    bottom: -280px;
}
.peo6.peo-inpage{
    left: calc(50% + 100px);
}
.content{
    position: relative;
    z-index: 9;
    height: calc(100% - 151px);
    .page{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 100%;
        
        @include css3(transition,all .5s ease);
        .pageout{
            overflow: auto;
            height: 100%; 
        }
        .contentbg{
            width: 800px;
            background: rgba(255,255,255,.9);
            left: calc(50% - 400px);
            @include css3(transform,rotate(10deg));
        }
        .wrapper-in{
            z-index: 10;
            padding-top: 50px;
            padding-bottom: 50px;
            height: initial;
            color: #1f2f45;
            header{
                font-size: 30px;
                line-height: 35px;
                color: #426799;
                border-bottom: 2px solid #426799;
                position: relative;
                font-weight: bolder;
                padding-left: 30px;
                padding-bottom: 5px;
                margin-left: 145px;
                margin-right: 150px;
                margin-bottom: 20px;
                &:after{
                    content: "";
                    position: absolute;
                    bottom: -15px;
                    left: -15px;
                    border: 5px solid #1f2f45;
                    width: 20px;
                    height: 20px;
                    background: #426799;
                    @include css3(border-radius,100%);
                }
            }
            main{
                margin-left: 160px;
                margin-right: 295px;
            }
            section{
                margin: 30px 150px;
                line-height: 25px;
                .tietle{
                    font-size: 16px;
                    margin-top: 20px;
                    margin-bottom: 5px;
                    border-left: 5px solid #426799;
                    color:#426799;
                    padding-left: 5px;
                }
                .tietle-s{
                    margin-top: 10px;
                    margin-bottom: 5px;
                    font-size: 16px;
                    color: #ad0000;
                }
                .btn{
                    width: 200px;
                    background: #094083;
                    border-left: 20px #1f2f45 solid;
                    border-right: 20px #1f2f45 solid;
                    text-align: center;
                    color:#fff;
                    cursor: pointer;
                    font: normal 25px/40px "Microsoft JhengHei";
                    letter-spacing: 5px;
                    margin: 10px;
                    @include css3(transition,all .5s ease);
                    strong{
                        color: #ffe400;
                        font-weight: normal;
                        font-size: 18px;
                    }
                    &:hover{
                        border-left: 40px #1f2f45 solid;
                        border-right: 0 #1f2f45 solid;
                        background: #0060d7;
                    }
                }
                .alerttxt{
                    color:#ff0000;
                }
                table{
                    width: 100%;
                    margin: 5px auto;
                    border-collapse: separate;
                    border-spacing: 1px!important;
                    font-size: 14px;
                    line-height:20px;
                    background: #fff;
                    color: #fff;
                    .table-tietle{
                        background: #1f2f45;
                        color: #ffc800;
                    }
                    .tablecolor1{
                        color:#ffc800;
                    }
                    .tablecolor2{
                        color:#00ffb8;
                    }
                }
                table tbody{
                    background: #565656;
                }
                table tr td{
                    text-align: center;
                    padding: 5px;
                }
                table tr:nth-child(even) {
                      background-color: rgba(0, 0, 0, 0.3);
                }
                .line{
                    margin: 10px 0;
                    border:dashed 1px #426799;
                }
            }
        }
    }
    .page-in{
        left: 0;
    }
}
.cr{
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 10;
    border-bottom: 5px solid #00285e;
}